[2021-09-14 10:07] ferdymercury commented on #5850
Database via the GUI only shows 1 patient:
![image](https://user-images.githubusercontent.com/10653970/133238684-89918963-17e8-41e8-aa89-f42e1a24fd46.png)

[2021-09-14 13:28] pieper commented on #4893
I'd still vote for removing the shared library cli mode to simplify maintenance.  With a modern systems and typical usage patterns there may be little or no practical benefit (the idea was to avoid writing to disk by letting the CLI access volume memory directly, but most CLIs don't really benefit from this since they are either long-running or involve multiple pipeline stages that copy data anywa

[2021-09-14 13:33] pieper commented on #5753
This is an annoyance but not a blocker for a release in my opinion.

[2021-09-14 13:43] pieper commented on #5663
This is also a problem with a centos8 system I am using.  The institution [discourages docker](https://www.nmr.mgh.harvard.edu/martinos/userInfo/computer/docker.php#:~:text=In%20the%20HPC%20community%20a,same%20access%20you%20have%20normally) and I haven't seen that singularity can support a virtual desktop.  My workaround is just not to use Slicer on that machine but it is limiting.

[2021-09-14 14:35] lassoan commented on #5283
@pieper to talk to Ron and Marianna. Useful to have on the same site for SEO.

[2021-09-14 14:40] upupming opened #5852 "Slicer Extensions Catalog Page is empty"
[Give a short summary of what the problem is]

I have seen it is not able to download extensions for a while on the Windows platform, but now I go to the extension download page, the page is also empty.

When I open the extension manager of my Slicer (built from source code), I got this message:

![image](https://user-images.githubusercontent.com/24741764/133279543-b6c51354-6270-482d-a1af-77d3d9ad

[2021-09-14 14:40] lassoan commented on #5415
There is already a check in place for Qt, it could be applied to LibArchive, too.

[2021-09-14 14:42] jcfr commented on #5415
For reference, this approach could be generalized and improved:

https://github.com/Slicer/Slicer/blob/f1cf41897f6e930305f51c1fe37d9ed91e2bcf82/CMakeLists.txt#L644-L670

[2021-09-14 14:59] jcfr commented on #3938
I just added a URL property to https://search.google.com/search-console

In a day or two, we should have relevant data available.

Note: URL property is easier to look as it does not require verification needed by the domain property

![image](https://user-images.githubusercontent.com/219043/133282049-f30e611d-87a2-49e8-a39b-525ea8a0b242.png)

[2021-09-14 15:00] jcfr commented on #3938
I also just associated Google Analytics with the search console:

![image](https://user-images.githubusercontent.com/219043/133282380-ab10dfe9-63bf-45c8-8c38-0cec86080b65.png)

[2021-09-14 15:03] jcfr commented on #3938
We know have have consolidated information displayed at https://search.google.com/search-console/insights/

![image](https://user-images.githubusercontent.com/219043/133282786-fea9fafb-af67-448e-bbf4-eebc0e1340b5.png)

[2021-09-14 15:06] lassoan commented on #4601
The issue seems to be with restore. The geometry is restored on macOS using the script only after the application has started up completely.

[2021-09-14 15:45] lassoan commented on #5525
The problem is fixed now.

[2021-09-14 16:13] jcfr commented on #5663
Possible approaches:
1. do not bundle OpenSSL in Linux packages
2. build OpenSSL without Kerberos
3. update OpenSSL

@jcfr currently looking at approach (1)

[2021-09-14 16:14] jcfr commented on #5283
There are two parts:

### Move download and publication stats to the website.

Approach discussed at https://github.com/Slicer/slicer.org/issues/63#issuecomment-677756609

### Move history of publications to the website

Publication for each years would  be organized in a markdown like document

[2021-09-14 16:31] jcfr commented on #5845
Closing. Issue fixed in https://github.com/KitwareMedical/slicer-extensions-webapp/pull/60

[2021-09-14 16:31] #5845 closed

[2021-09-14 19:14] jcfr commented on #5852
Thanks for the report.

Since they are no extensions built for version `30166`, this explains what you observed. There are extensions associated with  the latest preview build.

See https://extensions.slicer.org/catalog/All/30181/win

You can download the latest version at https://download.slicer.org

For reference, recent preview builds and associated extensions are also available [here](https://

[2021-09-14 20:10] lassoan commented on #5061
@Sunderlandkyl we are getting close to releasing Slicer5 and it would be great if the majority of the remaining tasks listed in this issue could be addressed. Could you spend some time with this in the next 2-3 weeks (I would estimate that Slicer5 will be released in about a month, and it would be good to have some time for testing the changes)?

[2021-09-14 20:13] lassoan commented on #5519
@Sunderlandkyl could you work on this in the next few weeks (before the Slicer5 release)?

[2021-09-14 20:13] #4935 closed

[2021-09-14 20:20] Sunderlandkyl commented on #5519
Yes, I have been working on it this week.

[2021-09-14 21:57] jcfr commented on #5663
### OpenSSL and Kerberos

The OpenSSL libraries shipped (`1.1.1g`) within the latest stable release (`4.11.20210226`) are not build against Kerberos:

[code]

### Libraries depending on `libk5crypto.so`

To better understand which libraries introduced the dependency, running the following command is helpful:

[code]

When executed on `metroplex` using the docker image building the release, it retu

[2021-09-14 23:11] #5566 closed

[2021-09-15 01:07] lassoan opened #5857 "Restore Markups ROI widget"
Need to fix a few things after the recent pluggable markups rework:

- qMRMLMarkupsROIWidget widget was removed. This widget should have been kept, as it is intended to be reused in module widgets and does not have any Slicer dependency.
- The qSlicerMarkupsROIWidget was given a confusing name. It is not for editing markups ROI widget properties but it is a special qSlicerMarkupsAdditionalOptionsW

[2021-09-15 13:46] lassoan opened #5863 "Download button on Extensions Server does not work"
Cannot download extensions from the Extensions Server when using a regular web browser.

## Steps to reproduce

- Open this page: https://extensions.slicer.org/catalog/All/30181/win?q=slicerigt
- Click the "Download" button -> the button flashes but nothing happens.
- Click on the extension's icon to open the details page.
- Click the "Download" button -> the button flashes but nothing happens.

#

[2021-09-15 17:55] #5415 closed

[2021-09-15 17:56] jcfr commented on #5852
@upupming  Where you able to address your issue downloading the latest preview build at https://download.slicer.org ?

[2021-09-15 18:01] jcfr commented on #5796
On a related note, @sjh26 recently uploaded the `DataStore` datasets to a collection of the same name at https://slicer-packages.kitware.com/#collection/6124ffb8342a877cb3b8afdd/folder/6125487e342a877cb3b8b6ed

Since these datasets were already uploaded at https://github.com/Slicer/SlicerDataStore/releases/tag/SHA256, I suggest we delete the collection and upload the discourse post https://discour

[2021-09-15 18:24] upupming commented on #5852
The latest build is okay. However I am developing Slicer from source code, what can I do to install the extensions? Thanks

[2021-09-15 18:36] jcfr commented on #5852
Association of extensions with a version of Slicer is done based on the Slicer revision, arch and operating system.

It is assumed that the build environment used to build extensions and application also match. This is the case for the installers and extensions we officially make available to the community.

This is why I would suggest to also build locally the extensions you would like to use in

[2021-09-15 18:36] #5852 closed

[2021-09-15 19:22] lassoan commented on #5796
A big problem with content-based retrieval using github releases is that end-users cannot use the downloaded files, because they have invalid name (just the git hash). This is not a problem for test data that is retrieved using SampleData module, but it is a blocking point for users. I also like that girder features such as possibility to organize data into folders and download an entire folder at

[2021-09-16 03:00] lassoan commented on #4933
The fix for the CMake bug is merged now. It is scheduled to be included in the CMake 3.22.0. When this release is out, then CMake should be updated on the Windows factory computer.

[2021-09-16 04:04] lassoan commented on #5175
This issue has been fixed.

[2021-09-16 04:04] #5175 closed

[2021-09-16 07:31] jcfr commented on #5175
For future reference, see https://github.com/Slicer/Slicer/commit/cc84a82193a60694e25e1addd92bb15143cd7a7e and https://discourse.slicer.org/t/how-to-disable-right-click-zoom-function-individually/18029/2

[2021-09-16 17:27] lassoan commented on #5014
Yet another important reason to update Python in Slicer ASAP: https://github.com/Project-MONAI/MONAILabel/pull/378

[2021-09-16 18:29] #4893 closed

[2021-09-16 22:20] charuu opened #5869 "Slicer development environment issues"
I am trying to setup 3d slicer development environment . One of the pre requisite requires me to install QT5 ,where I need to point to the .make file. for QT5_dir. In order to do so I need to install all the components which makes the installation heavy. Is there any workaround for this?

## Environment
- Slicer version: Slicer-4.13 ?-YYYY-MM-D
- Operating system:Mac + 10.13

[2021-09-16 23:16] lassoan commented on #5869
You don't need to install _all_ components of Qt, only those that are selected by default and a few in addition (those that are listed in the build instructions). That said, Qt is certainly not small, but its size is similar to most other SDKs for GUI development. On Windows, the minimum size is 2GB, but I would recommend to install debug symbols and source code (which adds 8GB more) because it he

[2021-09-16 23:16] #5869 closed

[2021-09-17 05:56] MichaelColonel commented on #4891
With scalar bars via displayable manager i have got bar always on top, but i have tested with created markup nodes, not loaded from file.

![image](https://user-images.githubusercontent.com/3785912/133731796-a20ec99c-7da4-427a-83ce-3b6dc71dd810.png)

[2021-09-17 08:02] charuu commented on #5869
If i dont have to use QT for development and only work on Slicer API, then how do I switch off slicer config which looks for CMake files from QT?

  Could not find a package configuration file provided by "Qt5" with any of
  the following names:

    Qt5Config.cmake
    qt5-config.cmake

  Add the installation prefix of "Qt5" to CMAKE_PREFIX_PATH or set "Qt5_DIR"
  to a directory containing one of

[2021-09-17 08:50] charuu opened #5871 "Saving intensity values from volume rendering in 3D slicer"
I am working on the volume rendering of medical images and want to store the intensity values in a volume.

Would I be able to access the values of rendered data from the functions below
vtkVolume :
float *  GetGrayArray ()
float *  GetGradientOpacityArray ()
float *  GetScalarOpacityArray ()

And if I need to debug the volume rendering of image on the renderer window, to see how it is working, wo

[2021-09-17 13:18] lassoan commented on #5869
To build Slicer, you must install the Qt SDK. You don't need to build Qt. Installing Qt takes about 5-10 minutes (may take a bit more if you have very slow internet connection).

Building Slicer is faster on Linux and macOS than on Windows. On a gaming desktop (Intel core i9 CPU, building on 20 threads) entire Slicer (including ITK, VTK, SinpleITK, etc) is built in 30 minutes. On Windows, it takes

[2021-09-17 16:00] #5871 closed

[2021-09-17 18:12] charuu commented on #5869
OS: MAC 10.13
All default components installed in QT except android and IOS
Developer tool Cmake 3.21 and Ninja 1.10.2 installed.

On compiling Slicer and providing the path to QT_DIR I get the following error:
-- Could NOT find Qt5Sql (missing: Qt5Sql_DIR)
-- Could NOT find Qt5WebEngine (missing: Qt5WebEngine_DIR)
-- Could NOT find Qt5WebEngineWidgets (missing: Qt5WebEngineWidgets_DIR)
CMake Warn

[2021-09-17 18:58] charuu commented on #5869
I have turned off webengine req and disabled module SQL in QT. I am thinking I might not need these anyways.

[2021-09-18 00:29] lassoan commented on #5498
It seems there is another occurrence of the problem: https://discourse.slicer.org/t/build-error-on-macosx-when-install-simpleitk-modulenotfounderror-no-module-named-skbuild-occur/19734?u=lassoan

[2021-09-18 04:34] lassoan commented on #5869
Please follow the [build instructions](https://slicer.readthedocs.io/en/latest/developer_guide/build_instructions/macos.html). More specifically,

[2021-09-20 18:59] lassoan opened #5880 "Make additional segment editor effects more discoverable"
## Is your feature request related to a problem? Please describe.

There are several extensions that provide additional effects for Segment Editor. They are all listed in the Extensions Manager in Segmentation category and have the Segment Editor icon in their logo. Still this does not make them discoverable for new users.

## Describe the solution you'd like

We could add an effect with a "+" ico

[2021-09-20 20:26] pieper opened #5882 "Expose IOManager parameter options"
Parameters for `qSlicerFileReader` and `qSlicerFileWriter` subclasses are hard coded and difficult to discover.

Some of this can be handled by documentation changes [like this](https://github.com/Slicer/Slicer/pull/5881) but something programmatic would be better.

## Describe the solution you'd like

It would be better if classes could expose these properties so they could be introspected and us

[2021-09-21 00:52] jamesobutler commented on #5283
@pieper Did you hear from the others about this?

[2021-09-21 12:21] lassoan commented on #5863
The packages don't show up on the CDash dashboard either.

Workaround: download from https://slicer-packages.kitware.com/#collection/5f4474d0e1d8c75dfc70547e/folder/5f4474d0e1d8c75dfc705484

[2021-09-21 12:23] charuu opened #5884 "Unable to see rendered volume in the 3D viewer"
After compiling the Slicer repos from source, I launched the application and loaded a .vtk image. On performing volume rendering, I am unable to see the volume and get error :

void qSlicerVolumeRenderingModuleWidget::onEffectiveRangeModified() : Invalid volume property node

## Steps to reproduce

Load .vtk volume using data loader
Switch to volume rendering module
Click on the eye next to volume

[2021-09-21 12:31] lassoan commented on #5884
Have you clicked the ["Center 3D view" button](https://slicer.readthedocs.io/en/latest/user_guide/user_interface.html#d-view) after enabling volume rendering?

What are the image dimensions and spacing of the volume? (see in Volumes module / Volume information section)

Does [drag-and-drop of the volume from the Data module to a 3D view](https://slicer.readthedocs.io/en/latest/user_guide/user_inte

[2021-09-21 12:38] charuu commented on #5884
On centering i dont see any change:
<img width="692" alt="Screenshot 2021-09-21 at 6 04 53 PM" src="https://user-images.githubusercontent.com/13659619/134171518-2f6262aa-00dd-4d13-9e26-40812c6aded1.png">

Image dimensions are 300 X 300 X 400
Image spacing  0.1mm

[2021-09-21 12:39] charuu commented on #5884
And dragging and dropping on 3D viewer makes no difference

[2021-09-21 12:42] lassoan commented on #5884
What is the Scalar Type and Scalar Range (in Volume information section)?

[2021-09-21 12:44] charuu commented on #5884
Scalar type is float
Scalar range is -1725.6 to 2037.74

[2021-09-21 12:47] lassoan commented on #5884
I see. For float volumes, it may be hard to find a good threshold value automatically. You can adjust the "Shift" slider to choose what is shown.

[2021-09-21 12:51] charuu commented on #5884
But volume rendering works in Slicer version 4.13.0-2021-08-27 r30134 / 72b3a74, for the same image
<img width="759" alt="Screenshot 2021-09-21 at 6 20 42 PM" src="https://user-images.githubusercontent.com/13659619/134173619-c8ddafc8-72bd-4ade-bc3e-dc6c92022b6c.png">

[2021-09-21 13:50] jamesobutler opened #5885 "Define icons for installer package and for installed application entry"
Currently the Slicer installer executable uses a generic NSIS icon and also defines no icon for the entry in the installed programs list.
![image](https://user-images.githubusercontent.com/15837524/134182677-6948eacc-98fa-4377-acdb-34c36bfe525b.png)
![image](https://user-images.githubusercontent.com/15837524/134182773-2bdf5926-781a-491d-8514-69aaed9b5a2f.png)

## Describe the solution you'd like

[2021-09-21 16:24] lassoan commented on #5884
This suggests that this Slicer installation has been corrupted. Could you try the installing the very latest Slicer Preview Release and see if it works as expected?

[2021-09-21 21:11] pieper commented on #5283
Yes, moving the community page into the slicer.org website repo makes sense and the person who had been maintaining the wiki can switch over to updating markdown and making pull requests.  The next step would be for someone to migrate the existing content into markdown with a script of some kind.  The existing data is consistently formatted, but it's wikitext not a database.

[2021-09-22 09:39] RafaelPalomar commented on #5857
I'm working on this, which is related to [https://discourse.slicer.org/t/module-pythonqt-qslicermarkupsmodulewidgets-has-no-attribute-qmrmlmarkupsroiwidget/19675/6](https://discourse.slicer.org/t/module-pythonqt-qslicermarkupsmodulewidgets-has-no-attribute-qmrmlmarkupsroiwidget/19675/6)

[2021-09-22 21:26] lassoan commented on #5885
Thank you, this is a good suggestion. It would be nice if someone could work on it, but if there is no volunteer. It should not hold up the Slicer5 release, so I don't add it to that milestone.

[2021-09-23 00:04] lassoan commented on #5882
Good idea. We already do this with the 'filename' parameter, for the exact same reason of making the parameter more conveniently accessible.

[2021-09-23 00:15] lassoan commented on #5850
Can you provide a sample data set that we could reproduce the issue with?

[2021-09-23 00:26] lassoan commented on #5367
@jcfr could you update the logo in the [Github Slicer organization](https://github.com/Slicer)? I've checked and I don't have access to that.

[2021-09-23 00:39] lassoan commented on #5367
I've tried to update the [Slicer logo on Wikipedia](https://en.wikipedia.org/wiki/File:3DSlicerLogo.png#file) but I could not figure out how to do/request upload of a new file revision.

[2021-09-23 01:28] jcfr opened #5888 "Building an extension target associated with extension index twice lead to an invalid CDash download link"
_This issue was discovered while testing changes associated with pull-request #5870 (Associate valid download url with CDash submission)_

Considering that
1. building the `packageupload` target multiple time in a row against the same version of Slicer and version of the extension sources lead to the creation of a different packages. Indeed, building against the same sources do not lead to exact s

[2021-09-23 01:30] #5768 closed

[2021-09-23 07:50] ferdymercury commented on #5850
Please find attached.

[testfiles.zip](https://github.com/Slicer/Slicer/files/7215788/testfiles.zip)

[2021-09-24 04:29] lassoan opened #5889 "Markups control point placement improvements"
This is a follow-up to pull request https://github.com/Slicer/Slicer/pull/5325. It contains fixes and improvements that were identified during the review but has not been completed before the integration:

- [ ] When clicking the control point table to edit a point then the point position is filled immediately. This position gets deleted if I move over to a view and leave the view and the edit ico

[2021-09-24 18:47] muratmaga commented on #5889
There is a bug that the locked (template) state of the fiducial node is not retained after save, when loading it into a new scene.

I am not sure whether this has anything to do with Markups module changes, but file location after loading for a fiducial node is not retain. Save a fiducial node on desktop, reset scene, load the fiducial from json, add a point and use the save as to see that it defa

[2021-09-24 19:18] lassoan commented on #5889
I am also investigating issues reported here:

https://github.com/Project-MONAI/MONAILabel/issues/422

I've already found a logic error in the markups place widget (in the update-gui-from-mrml method there are update-mrml-from-gui calls). I'm implementing the fix, along with a few others.

[2021-09-24 19:42] smrolfe commented on #5889
Thanks, I have submitted a pull request to fix the locked state issue on loading and am looking at the others.

[2021-09-25 00:41] ignaciordc opened #5894 "Loading a DICOM directory with 352 files the error is "Could not load", <dir> - as a 3 frames MultiVolume by B.standard value"
The MultiVolumeImporterPlugin breaks when trying to load the data. Sometimes only.

## Steps to reproduce
The data has been 'manipulated' to stitch 4 different sections with 138 images each.
This process of stitching generates a directory with all the images (138x4) as a single sequence.
Loading these generated directories as data, sometimes works and sometimes breaks, which might mean that the st

[2021-09-25 13:36] lassoan commented on #5889
@muratmaga the two issues that you reported are fixed in https://github.com/Slicer/Slicer/commit/cfc69c5fcd8e119dcf3060561c999c8a9baebd93

[2021-09-25 17:01] lassoan commented on #5889
We are starting to get questions/complaints about ROIs "not working", which is actually due to people not being able to figure out how to place annotation ROIs now. We'll speed up adding full support of markups ROIs everywhere where annotation ROIs are used now, but we need to tell the users what they can do right now.

@smrolfe Please create a post on discourse that describes the changes, explain

[2021-09-25 17:17] lassoan opened #5898 "Cannot delete ROI using markups place widget"
Cannot delete ROI using markups place widget

## Steps to reproduce

Create a markups place widget, use it to create a markups ROI. When pressing the delete button, the control point is deleted but the ROI remains intact.

## Expected behavior

It should be possible to reset a ROI using markups place widget.

Maybe the "Delete all" button should not just delete the control points but reset the wid

[2021-09-25 17:47] jamesobutler commented on #5889
Using the Slicer Preview 4.13.0-2021-09-23 (4eed6072b8e2d2be1b237aae2ff88af72cd91b0d) placing vtkMRMLAnnotationRulerNode from the GUI also been removed? Those objects have ruler tick marks that the line node does not have. It may have been fixed, but is this similar in issue to not being able to place the older vtkMRMLAnnotationROINode objects?
![image](https://user-images.githubusercontent.com/15

[2021-09-25 18:02] smrolfe commented on #5889
@lassoan Thanks, I am putting these videos together right now with today's preview version.

[2021-09-25 18:06] smrolfe commented on #5889
@jamesobutler that looks like it's a bug, I will fix in the next build if so.

[2021-09-25 18:08] kookoo9999 commented on #5498
@lassoan
Do you mean these line into S4\Super-build\External_SimpleITK.cmake ??
if(Slicer_VTK_VERSION_MAJOR STREQUAL "9")
      list(APPEND EXTERNAL_PROJECT_OPTIONAL_CMAKE_CACHE_ARGS
        # Required by FindPython3 CMake module used by VTK
        -DPython3_ROOT_DIR:PATH=${Python3_ROOT_DIR}
        -DPython3_INCLUDE_DIR:PATH=${Python3_INCLUDE_DIR}
        -DPython3_LIBRARY:FILEPATH=${Python3_LIB

[2021-09-25 18:52] lassoan commented on #5498
The easiest fix is to temporarily rename the folder of your other Python distribution (only when you build Slicer the first time) so that CMake does not find it. No need to change any CMake files anywhere.

[2021-09-25 19:28] smrolfe commented on #5889
@jamesobutler it looks like this was fixed as of the last commit by @lassoan.

However with this version I am experiencing a new issue, where the placement button is always inactivated, so only one fiducial point can be placed.

[2021-09-25 19:35] lassoan commented on #5889
@jamesobutler I don't understand why tickmarks are useful for distance measurement lines. Continue the discussion about thisntipic here: https://discourse.slicer.org/t/tickmarks-on-markups-line/17865

[2021-09-25 20:33] lassoan commented on #5889
The very latest Slicer master version (not available as a release package yet, as I've committed the fix this morning) works well for me. The placement button gets deactivated the right time (when "point number locked" is enabled and all points are defined or missed).

[2021-09-25 20:47] smrolfe commented on #5889
I built the most recent master and the place button is never becoming active, even when the point number is unlocked as here:

<img width="903" alt="image" src="https://user-images.githubusercontent.com/43060230/134785548-51a4754f-b743-4c9f-9c41-2c1b14359fb4.png">

If it's not replicating for you, maybe it's an issue with my build. I will try a fresh build.

[2021-09-25 21:03] lassoan commented on #5889
How do you create the node and add the points? Can you describe the exact clicks?

[2021-09-25 21:16] smrolfe commented on #5889
I used the "create new fiducial node" button in the Markups toolbar and clicked in the scene to place one point.

I am rebuilding the latest master now and will update here when I have tested it.

[2021-09-25 23:15] smrolfe commented on #5889
I put together very short videos showing the new Markups functions and the changes to the Annotations module. Since the Annotations won't work correctly until the next preview, would it make sense to post these tomorrow? I'm also planning to make a video showing a landmark templating procedure.

https://youtu.be/ddd1U61eVlo
https://youtu.be/0NvZaLJQeyE

[2021-09-25 23:19] lassoan commented on #5889
Yes, I think it makes sense to create a post now and just mention if a release has bugs/limitations.

[2021-09-25 23:30] lassoan commented on #5889
Do you use Camtasia for recording videos? You can add cursor effects there to make mouse clicks visible. It would make the videos a bit more clear.

Can you make the annotation video shorter? You don't need to explain any annotations features (the whole module will go away anyway, so it is better not to teach people what features it has). Just in 20 seconds show what are the 5 mouse clicks users n

[2021-09-26 00:24] jamesobutler commented on #5889
The updated qSlicerMarkupsPlaceWidget seems to create weird situations when it is used elsewhere such as in the SurfaceCut effect area. The place button has a menu drop down but there is no addition menu options as it is always in continuous placement mode.

There is also the ability to unset points with the menu options of the delete button which then leaves the model in a weird state that can't

[2021-09-26 00:31] jamesobutler commented on #5889
Also what is the reason for having both of these widgets? I was a bit confused about which one to use.
![image](https://user-images.githubusercontent.com/15837524/134789169-8e1988bd-3c68-426c-a0cd-c665d280d3b5.png)

[2021-09-26 00:49] lassoan commented on #5889
We remained backward compatible with existing widgets, but the new features are enabled by default. We can revisit the markups place widget and make the new features disabled by default. Please keep send these comments @jamesobutler, they are very helpful.

If you can still edit your comments then add a '- [ ]` to each action item so that we can track their completion more easily.

The two buttons

[2021-09-26 01:00] jamesobutler commented on #5889
When I start Slicer the toolbutton in the mouse mode toolbar is just a toggle markups toolbar button. It gets confusing after adding a fiducial node as this toggle toolbar action is no longer the default action in the toolbar so it appears the Toolbutton is now completely different since the default action does a very different thing.
![image](https://user-images.githubusercontent.com/15837524/134

[2021-09-26 01:16] jamesobutler commented on #5889
- [ ] What is the correct terminology to use? This will become an issue communicating to users on the forum or elsewhere. This should be made consistent across all previous and new functionality.
- Fiducials
- Markups
- Markups Points
- Points
- Control Points

![image](https://user-images.githubusercontent.com/15837524/134789714-d909a234-3873-4986-b8f2-a6f0c37010af.png)
![image](https://user-imag

[2021-09-26 01:58] jamesobutler commented on #5889
- [ ] Mouse cursor icon is not updating when placing Annotation Ruler or Annotation ROI nodes. It stays as the regular mouse arrow cursor type during the placement of the 2 required control points for these objects. Toggling a Markups line node will have the correct cursor icon. It toggles on both circled widgets in the image below.
![image](https://user-images.githubusercontent.com/15837524/13479

[2021-09-26 04:20] kookoo9999 commented on #5498
@lassoan
When I build Slicer the first time, where I do rename the folder of my Python distribution?? Do you mean  in Slicer binay folder??

[2021-09-26 04:50] lassoan commented on #5498
Among your error messages you will see that the build system of SimpleITK picks up some other Python distribution on your system. Rename the root folder of that Python distribution before you start the Slicer build (you may need to start a clean build).

[2021-09-26 05:09] kookoo9999 commented on #5498
@lassoan
![image](https://user-images.githubusercontent.com/59353474/134794501-e5ec0cf8-e2ce-43b5-9ee9-92c57017bc32.png)
I renamed Python distribution my system and try to build but failed , error occured Python,SImpleITK  with MSB8066.

[2021-09-26 05:31] muratmaga commented on #5889
First screen capture is correct. That's the fiducial node, and the person is placing a fiducial.
Second one should be changed to match the first.

In the third one more accurate description of the behavior would be "Locks the markup list so that all mouse interactions for points in the list are disabled".

Fourth/fifth are a bit tricky for fiducial type, as the individual "points" are shown as con

[2021-09-26 12:47] lassoan commented on #5889
There are control points, curve points (interpolated points between curve points for curves), and interaction points (for moving, scaling the node; used heavily for ROI). So, while it would be very nice to simplify the terminology, I think we should keep using the "control point" terminology on the user interface. We can omit the "control" word if it is obvious what we mean (for example in the "Co

[2021-09-26 13:55] jamesobutler commented on #5889
I can work on the tedious part of finding all the text places to be more consistent in their terminology.

[2021-09-26 16:22] smrolfe commented on #5889
I've added a post on discourse with a brief explanation of the changes and demo videos (including the new shorter annotations clip) [here](https://discourse.slicer.org/t/changes-to-the-markups-module/19871).

[2021-09-26 17:35] jamesobutler commented on #5889
I've been using the new markups toolbar a bit and have some observations.

Can we make the markup node creation more collapsed? Since it is in a QToolBar, similar actions like node creation should be included in a menu of a QToolButton. The more expanded view where all markup node creation buttons are shown is appropriate in the actual Markups module. Markups is a pluggable framework where more ma

[2021-09-26 18:33] muratmaga commented on #5889
I personally have no preference. I like the aesthetics of the proposed solution, but the currently layout gives you what's available in terms of markupNodes visually, and probably easier to learn for new comers to Slicer.

There has been quite a bit of activity on Markup types in the last two years, but are we expecting more types appearing anytime soon?

[2021-09-26 19:07] jamesobutler commented on #5889
The Markups module was updated with a pluggable interface for extensions to register more markups. That support was only added in mid-April of this year so it’s pretty new in regards to support of more markups being added separately from what is in Slicer core.

[2021-09-26 19:10] pieper commented on #5889
Yes, as @jamesobutler points out, the generalization of the markups by @RafaelPalomar should lead to greater use of markup types for sophisticated interactive functions like parametric structures for measuring or editing.

[2021-09-26 19:26] lassoan commented on #5889
There will be more: Bezier surface (already in progress), NURBS surface (already in progress), arrow, bidirectional measurement, Cobb's angle, etc. Most of them will be provided in extensions.

[2021-09-26 20:01] jamesobutler commented on #5889
re https://github.com/Slicer/Slicer/issues/5889#issuecomment-927342225 I've issued https://github.com/Slicer/Slicer/pull/5901 with the proposed changes for node creation in the toolbar using a menu rather than individual buttons.

[2021-09-26 20:50] smrolfe commented on #5889
Moving from a dropdown menu to push buttons for node creation was request from @lassoan, to make the interface more intuitive. However, with changes to the place button/addition of the node selector maybe this is now less necessary?

These buttons are also consistent with the node creation buttons in the Markups module, which would have the same issues if many more node types are added.

[2021-09-26 21:08] jamesobutler commented on #5889
I think the Markups module can be in more of uncollapsed state with the markups type organized in a grid layout design. The markups module can have lots of details shown at once including all markups types. This could also be changed to a different method once the user has to search through a very large list. However the Markups toolbar needs to be in a more tightly organized design as ToolBars ta

[2021-09-26 21:15] lassoan commented on #5889
Adding a popup menu to the markups toolbar to save space does not make much sense to me, as we can have the entire application window width for a toolbar (enough for probably 50 different kind of markups). The popup makes sense if we move back node creation to the mouse mode button, but the problem there was that it was not clear if that button creates a new point or a new node, and we also wanted

[2021-09-26 21:37] jamesobutler commented on #5889
Unfortunately for our group having all markup node creation types shown all at once in the toolbar is going to be a nonstarter for us to use it. Unfortunately because node creation has moved completely to the toolbar and not in the Mouse Mode toolbar we now don’t have a good option. More rows of toolbars is not a design we would like as it decreases vertical space for important things like the sli

[2021-09-26 21:46] muratmaga commented on #5889
The nice thing about this current layout, you don't have to use the toolbar, if you don't want to. You can do the node creation within the Markups module and then continue adding points to them using the place mode.

![image](https://user-images.githubusercontent.com/21285140/134825229-4b11fc52-9a59-4407-96d2-a26eaadf0f19.png)

[2021-09-26 21:48] jamesobutler commented on #5889
Since we use the markups functionality primarily for measurements having to constantly switch the active module to Markups to be able to place a ruler/line node is not very efficient compared to what we have had which is a quick toolbar action (while still having a single toolbar area).

[2021-09-26 21:50] muratmaga commented on #5889
WOn't a shortcut for line node creation fix your issue?

[2021-09-26 21:51] jamesobutler commented on #5889
A keyboard shortcut would work only if it was duplicated with a GUI object like a toolbar action. Keyboard shortcuts are hidden and not helpful for new users.

[2021-09-26 21:55] muratmaga commented on #5889
I agree about the keyboard shortcuts being hidden and not discoverable easily for new users. But they tend to be the most effective thing for repetitive tasks and allow for two-hand operation, as you don't even have to change the focus of mouse cursors from your slice views or 3D render window, and keep adding measurements...
It does require training people, but so does pretty much everything in S

[2021-09-26 22:03] jamesobutler commented on #5889
Yes, keyboard shortcuts are great for advanced power user stuff that can be trained. However, I’m hoping to make Slicer easy and simple for new users and not have to require training. Slicer being difficult to use is something I would hope to change rather than an accepted fact.

I would be willing to help brainstorm a better solution for the community in regards to the toolbar design. I haven’t s

[2021-09-26 22:03] lassoan commented on #5889
Have you considered snapping the toolbar to the left or right? It does not impact vertical space then. However, you then need a solution for the node selector (convert it to some kind of a pop-up widget in vertical mode.

Also, even if the toolbar remains horizontal, is needs to be shown only temporarily, so it should have minimal impact.

The toolbar alone was not actually usable for measurements

[2021-09-26 22:11] muratmaga commented on #5889
This is a different discussion, but I have been through that about three years ago when we started with SlicerMorph, then sort of accept the fact that the best we can do is to document things thoroughly for our specific usage, and keep documentation up to date. The with problem making it simple (as I came to accept) that there are so many different uses and users that simplifying for some is going

[2021-09-26 22:15] jamesobutler commented on #5889
^ I would suggest a Slicer custom application which is what we do for further customization to simplify workflows. However there can be a balance of simple to use with advanced options with good design. That’s how I help regular Slicer.

[2021-09-26 22:15] lassoan commented on #5889
The [pull request](https://github.com/Slicer/Slicer/pull/5325) has been under review for almost a year. You even reviewed and gave feedback on it. Everything was developed and discussed fully openly, constantly listening for feedbacks and suggestions. Discussions can be on discourse but also in tickets or pull requests, so I agree that it is easy to miss things.

We could try to agree on these hig

[2021-09-26 22:17] lassoan commented on #5889
I haven't given up on this. We need to aim for making simple things simple and complex things possible. It is not easy to achieve this and there are very few successful examples, but we should definitely do better than now.

[2021-09-26 22:18] jamesobutler commented on #5889
Yes reviewing the pull request in detail could have brought up some of these issues sooner though building the changes is a bigger requirement than posting designs on discourse. There is more likely community feedback to pictures of design on the forum than having to build a pull request.

I would be happy to respond to this on a discourse post where we are likely to receive more community feedbac

[2021-09-26 23:12] lassoan commented on #5889
No problem, it could make sense to take this question to discourse, this thread is becoming a bit too long anyway.

[2021-09-27 08:35] cpinter commented on #5889
Off-topic, but an idea that could facilitate this: do we have a list of these "simple things" that we want to make simple? If not, then a page containing a list of these simple things and a description about how they are simple already and what should be improved would serve as a good guideline for core Slicer designers. Complex things are already possible, so I think what is missing here are the

[2021-09-27 16:13] lassoan commented on #5796
@sjh26 @jcfr Where this data set go?
http://slicer.kitware.com/midas3/download/item/157189/small-mr-eye-moving.nrrd

This is needed for the Landmark registration test (https://slicer.cdash.org/test/19477622) but I cannot find it anywhere.

I've checked:
- https://slicer-packages.kitware.com/#collection/6124ffb8342a877cb3b8afdd/folder/6125487e342a877cb3b8b6ed
- https://github.com/Slicer/SlicerTesti

[2021-09-27 16:18] jcfr commented on #5796
While working on removing midas 3 support from the corde base, I also noticed that.

Since the instance is still accessible internally, I will list the remaining dataset here and push then in the SlicerDataStore github repo. See https://github.com/Slicer/SlicerDataStore

[2021-09-27 18:10] lassoan commented on #5796
Thank you @jcfr!

SlicerDataStore github repository cannot fully replace the old server, as there are no download links that can be directly used from a web browser. If the user clicks on the download link, the retrieved file name is the hash, so the user manually would need to rename it manually, which is more than what most users would be capable to (or want to) do.

Do you have any idea how to

[2021-09-28 16:17] MathieuLeclercq opened #5907 "Slicer crashes when running ITK functions in my module"
I installed ITK on the 3D Slicer python distribution using these commands in the Python interactor:

The installation and the import of ITK both work, but Slicer crashes when I run itk functions like _itk.ImageFileWriter_ and
I get this message:

    terminate called after throwing an instance of 'H5::DataSpaceIException'

Slicer crashes the same way when running other itk functions like _itk.imre

[2021-09-28 17:56] pieper commented on #5907
ITK uses a dynamic system to discover file IO plugins as C shared libraries.  It's not surprising that there would be version skews or build setting differences between Slicer's ITK and the pip version.  I'd suggest using Slicer's IO to save data although I don't think anyone has mapped out a truly safe course in this situation yet.

[2021-09-28 20:59] muratmaga opened #5908 "Extension updates not found in stable version"
As described in https://discourse.slicer.org/t/cant-update-extensions-on-the-current-stable/19901

extension manager in the current stable does not find/install any updates for install extensions. If a new stable based on the new infrastructure will be out soon, then it is not very concerning. But it still needs to be checked.

[2021-09-29 00:11] jamesobutler commented on #5889
- [ ] Go to the markups module, create a new markups node (e.g. vtkMRMLMarkupsFiducialNode), then I'm unable to toggle off placement mode in the mouse mode toolbar
![image](https://user-images.githubusercontent.com/15837524/135181891-546a60dc-c5fb-4636-bb7d-33f33e2b8199.png)

[2021-09-29 01:25] lassoan commented on #5889
The mouse mode buttons have been working like this for many years. It is effectively a radio button group rendered in pushbutton style, and not independent toggle buttons. You cannot deactivate a button by clicking on it, but clicking always activates the button.

We could consider converting them to toggle buttons for consistency with the place button.

[2021-09-29 01:38] lassoan commented on #5907
HDF5 is probably the worst third party dependency of ITK. It is almost always the root cause of build problems and ABI incompatibility issues. I would recommend to switch to Zarr.

[2021-09-29 13:05] jamesobutler commented on #5889
Anyone else noticing that the WindowLevel mouse mode cursor icon is no longer present while in that mouse mode? I can adjust window level while in the mode, but the correct cursor icon is missing.

[2021-09-29 13:12] cpinter commented on #5889
I downloaded a release yesterday, and in that I cannot see a different mouse cursor in W/L mode as I did before, it is always the default cursor, so it seems to be a regression.

By the way I really like the way the markups toolbar works. Much more intuitive when you add a node and when a point. I don't mind it being wide, because the right half of it can disappear with the leftmost half shown onl

[2021-09-29 13:12] cpinter commented on #5889
I can confirm this too.

[2021-09-29 14:49] lassoan commented on #5889
I'll split up this ticket to many because there are too many tasks and probably @smrolfe cannot work on all of them at once and they each may require discussion.

[2021-09-29 15:17] lassoan opened #5911 "Markups: initiate editing in the control point list should not make a position displayed immediately"
When clicking the control point table to edit a point then the point position is filled immediately. This position gets deleted if I move over to a view and leave the view and the edit icon disappears from the table. It would be better if starting editing would just change the icon to edit (would not show the coordinates) and after going over a view and coming back, the edit icon would stay displa

[2021-09-29 15:19] lassoan opened #5912 "Markups: Fix varying coloring of markups ROI nodes"
It is inconsistent that ROIs have all the same color if created one by one but have different colors if "Place multiple control points" is enabled.

Also, vtkMRMLColorTableNodeRandom color table is not designed for creating nice, distinguishable colors. Instead, use MediumChartColors, DarkBrightChartColors, LightPaleChartColors. Make the color index start at 0 (not at 3) and wrap around if the col

[2021-09-29 15:20] lassoan opened #5913 "Markups: Lots of "child widget is not accessible" warnings when selecting a control point in the table"
When Slicer is built in debug mode, lots of "child widget is not accessible warnings" when selecting a control point in the table or adding new points while the control points table is visible.

## Environment
- Slicer version: Slicer-4.11.0-2021-09-27
- Operating system: Windows

@smrolfe

[2021-09-29 15:22] lassoan opened #5914 "Markups: Down-arrow on place button should not be always visible"
The down-arrow button on the place widget's place button should be hidden if the force single/force multiple option is chosen.

## Environment
- Slicer version: Slicer-4.11.0-2021-09-27
- Operating system: Windows

@smrolfe

[2021-09-29 15:24] lassoan opened #5915 "Markups: Mouse mode is no longer reflected by mouse cursor shape"
Anyone else noticing that the WindowLevel mouse mode cursor icon is no longer present while in that mouse mode? I can adjust window level while in the mode, but the correct cursor icon is missing.

A potentially related issue that also must be fixed is the failing toolbar test: qSlicerMouseModeToolBarTest1.

## Environment
- Slicer version: Slicer-4.11.0-2021-09-27
- Operating system: Windows

@sm

[2021-09-29 15:26] lassoan opened #5916 "Markups: Documentation of Markups module has not been updated to reflect latest changes"
Markups module documentation (https://slicer.readthedocs.io/en/latest/user_guide/modules/markups.html#) needs an update after the recent improvements.

When everything is settled then a Slicer forum post must be submitted in the "Support" category with the "feature" tag attached that describes the new features strictly from a user standpoint. No implementation details, only description of new feat

[2021-09-29 15:31] lassoan opened #5917 "Markups: Hide unset markup point position option from place widget by default"
The updated qSlicerMarkupsPlaceWidget seems to create weird situations when it is used elsewhere such as in the SurfaceCut effect area. The place button has a menu drop down but there is no addition menu options as it is always in continuous placement mode.

By default, markups place widget should have the same behavior as before - delete placed points, and not offer unset points. Visibility of un

[2021-09-29 15:31] cpinter commented on #5889
Another bug: the custom markups registered externally do not appear in the toolbar. They did appear before in the dropdown.

[2021-09-29 15:35] lassoan opened #5918 "Markups: Custom markups do not appear in the markups toolbar"
Custom markups registered externally do not appear in the toolbar. They did appear before in the dropdown.

## Environment
- Slicer version: Slicer-4.11.0-2021-09-27
- Operating system: Windows

@smrolfe

[2021-09-29 15:39] lassoan commented on #5889
This issue has become unmanageable. I've moved all the open issues to these tickets:
- https://github.com/Slicer/Slicer/issues/5911
- https://github.com/Slicer/Slicer/issues/5912
- https://github.com/Slicer/Slicer/issues/5913
- https://github.com/Slicer/Slicer/issues/5914
- https://github.com/Slicer/Slicer/issues/5915
- https://github.com/Slicer/Slicer/issues/5916
- https://github.com/Slicer/Slice

[2021-09-29 15:39] #5889 closed

[2021-09-29 16:32] smrolfe commented on #5915
Thanks, I'm working on this issue now.

[2021-09-30 03:24] jamesobutler opened #5920 "Slicer crashes on deleting a Plane node control point with area measurement enabled"
## Steps to reproduce

1. Create a plane node with the 3 required control points.
2. Go to the "Measurements" section in the Markups module with the plane node as the currently selected markup.
3. Enable "Area" measurement.
4. Delete 1 of the 3 control points for the plane node and observe that Slicer will crash and close.

## Expected behavior

Area would no longer be listed as a calculated measu

[2021-10-01 00:06] jamesobutler commented on #5014
GitPython >= 3.1.22 has dropped support for Python 3.6 as well

[2021-10-01 15:48] shunxinyi2021 opened #5926 "Why clone a line node without display properties?"
slicer 4.13
我画了一条直线如图, 并且设置了显示属性加粗和颜色…

[![image](https://aws1.discourse-cdn.com/standard17/uploads/slicer/optimized/2X/9/9198492ddc2e91035f65a6a7ce48d3d361a0da6d_2_582x500.png)

image1726×1482 126 KB

](https://aws1.discourse-cdn.com/standard17/uploads/slicer/original/2X/9/9198492ddc2e91035f65a6a7ce48d3d361a0da6d.png "image")

and then clone it… get this result

[![image](https://aws1.discourse-c

[2021-10-01 18:58] lassoan commented on #5063
Another user report - and discussion with possible solutions: https://discourse.slicer.org/t/delays-in-paint-function-using-wacom-cintiq22/19952

[2021-10-02 04:23] smrolfe commented on #5918
Is there documentation creating a custom markup? Or an existing one I can import for testing?

[2021-10-03 19:54] jamesobutler commented on #3797
Should we close this issue now that we have moved to the new Slicer logo and positioned it into the module panel dock widget title area? Completed in d2d11ddf8b72f8d63205792d46f0bb61fb8fecac. See #5820 for more details.

[2021-10-03 22:02] lassoan commented on #3797
Yes, good catch, we can close this now.

[2021-10-03 22:02] #3797 closed

[2021-10-04 13:46] cpinter commented on #5918
Hi @smrolfe , thanks for the follow-up! I created an extension with a single custom markup: https://github.com/cpinter/SlicerGridSurface

It's very experimental so please don't mind the issues, however, it registers a custom markup that shows up in the Markups module and in the old toolbar as well, but not the new one.

[2021-10-04 15:05] lassoan commented on #5918
There is also a module in Slicer core (Utilities\Templates\Modules\LoadableCustomMarkups) and a test of dynamically registering/unregistering new markup types at runtime (PluggableMarkupsSelfTest.py).

[2021-10-04 17:25] jamesobutler opened #5929 "Slicer crashes on deleting segmentation node with initialized/unapplied Fill between slices"
Slicer will crash and exit when deleting a segmentation node that has an initialized/unapplied Fill between slice effect preview.

## Steps to reproduce

1. Use the "Draw" effect to apply regions at different slice offsets.
2. Switch to the "Fill between slices" effect and initialize the preview
3. Delete the Segmentation node and observe that Slicer crashes and exits.

![image](https://user-image

[2021-10-04 17:28] jamesobutler commented on #5926
Originally mentioned at https://discourse.slicer.org/t/why-clone-a-line-node-without-display-properties/19922/3

From @lassoan

[2021-10-04 18:53] #5929 closed

[2021-10-04 18:54] lassoan commented on #5929
Thanks for reporting, fixed.

[2021-10-06 18:07] jamesobutler commented on #5673
For updating to ITK 5.3 which has the bump to C++14, VS2015 (v140 toolset) is not a supported compiler (https://github.com/InsightSoftwareConsortium/ITK/blob/master/Documentation/SupportedCompilers.md). Therefore additional changes to the ones integrated in #5776 will be necessary to error at the usage of v140 during configuration.

[2021-10-07 13:41] lassoan opened #5934 "Allow using markups ROI for specifying segment geometry"
In latest Slicer master, annotation ROI nodes are much harder to access, therefore we need to make sure that markups ROI can be used everywhere where annotation ROI nodes. One of the last missing places is the "Specify geometry" feature in Segment Editor (button next to the Master volume selector).

## Describe the solution you'd like

Allow specifying segment geometry using Markups ROI node. Orie

[2021-10-07 15:11] lassoan opened #5935 "Move MultiVolume modules into Slicer core"
## Is your feature request related to a problem? Please describe.

It is cumbersome to maintain multivolume modules outside the Slicer core repository. There does not seem to be any good reason to maintain them separately.

https://github.com/fedorov/MultiVolumeExplorer
https://github.com/fedorov/MultiVolumeImporter

## Describe the solution you'd like

Move these repositories into Slicer core, in

[2021-10-08 02:03] gaoyi opened #5936 "Intersection point moves when rotating with Ctrl+Alt+Drag"
[Give a short summary of what the problem is]

## Steps to reproduce

The same question has been asked on the Forum where I put a video showing the situation:

https://discourse.slicer.org/t/rotation-center-moves-in-ctrl-alt-drag/19986

Copied from there:

I’m trying to use the Ctrl+Alt+Drag to rotate the volume interactively. However the Center seems moving with rotation.

But this only seems hap

[2021-10-08 07:55] Fanweinan888 opened #5938 "Build slicer extension modules"
Dear developer:
         I have compiled slicer on my computer, but I found that there is no extension in it. Can you tell me how to build extensions, like machine learning?

[2021-10-08 16:54] #5938 closed, assigned to nobody

[2021-10-09 17:49] jamesobutler commented on #5014
Note that per [NEP29](https://numpy.org/neps/nep-0029-deprecation_policy.html#) projects have begun to drop Python 3.7 support.

For example the following projects have dropped Python 3.7 support already for their upcoming releases.
- Numpy >= 1.22.0
- Scipy >= 1.8.0

Also to note that Python 3.10 has been released as of Oct. 4th 2021

[2021-10-11 04:23] lassoan commented on #5498
This seems to fix the issue for me on Windows: https://github.com/SimpleITK/SimpleITK/pull/1471

@RafaelPalomar, @kookoo9999 could you give it a try if this change fixes the build problem for you, too?

[2021-10-12 17:46] kliron opened #5944 "Unable to build from source on Apple silicon"
## Steps to reproduce

I followed all the instructions from the [docs](https://slicer.readthedocs.io/en/latest/developer_guide/build_instructions/macos.html#prerequisites) to build slicer from source.

Build halts with the following error while trying to build DCMTK:

[code]

## Expected behavior

A successful build.

## Environment
- Slicer version: latest source tree
- Operating system: MacOS Bi

[2021-10-12 22:30] lassoan opened #5945 "Slicer-4.13 hangs at startup on Windows11"
Slicer does not start up (hangs, then the operating system terminates it) on Windows11

See discussion here:
https://discourse.slicer.org/t/slicer-on-windows-11/20085/11

## Environment
- Slicer version: Slicer 4.13.0-2021-10-08
- Operating system: Windows 11 Pro, Version: 21H2, OS build: 22000.194

[2021-10-12 23:47] #5945 closed, assigned to lassoan

[2021-10-13 13:26] jamesobutler commented on #5945
I'm glad that the libopenblas information was a helpful hint. Thanks for tracking down a workaround! I'll keep an eye on Windows 11 compatibility issues and if this workaround becomes no longer needed.

[2021-10-13 20:14] mikebind opened #5948 "Markups: GetNthControlPointPosition() returns positions for unset points"
When a control point has a position set, then unset, getting the position of the unset control point returns the old position (from before being unset).  See discussion here:

https://discourse.slicer.org/t/new-markups-functionality-retains-unset-control-point-positions/20140

## Steps to reproduce

Create fiducial markup node, place a point.  In the Markups module, select that control point, and

[2021-10-18 09:41] rbumm opened #5951 "Make volume presets more accessible"
## Is your feature request related to a problem? Please describe.

Volume presets are a very useful feature but are a little hard to find in the "Volumes" module.

## Describe the solution you'd like

It would be helpful to have all available presets in the right-click menu of each of the slice windows.

## Describe alternatives you've considered

They could also be placed in the windows/level mou

[2021-10-18 20:45] fbordignon opened #5952 "vtkImageReader2 problem with big images"
Following error on loading a raw image with 2000x2000x300 voxels on Raw Image Guess Extension

[code]

## Steps to reproduce

slicer python console:
[code]

Try to load the image with the raw image guess extension using 2000x2000x1000 size, no header, 16 bit signed, little endian

This results in a portion of the image loaded with the remaining zeros
## Expected behavior

Image loaded correctly

#

[2021-10-19 15:48] nathanbmnt opened #5953 "Segmentation Sequences Can't handle segment being deleted"
## Steps to reproduce

1. Load a sequence volume
2. Create a segmentation on the first frame of the volume with one segment
3. Go to the sequences module, create a new sequence and set the segmentation as its proxy node, check save changes
![image](https://user-images.githubusercontent.com/40271210/137944266-d9b8461e-3366-4d6c-9242-b9880f2bd914.png)
4. change to the second frame and edit the segme

[2021-10-19 20:54] Connor-Bowley commented on #5752
I have a PR out to fix this in both Slicer/VTK and VTK/VTK.
https://github.com/Slicer/VTK/pull/40
https://gitlab.kitware.com/vtk/vtk/-/merge_requests/8548

[2021-10-20 13:56] Nicolaas94 opened #5955 "Slicer crashes when loading .mhd file"
Slicer crashes after loading any .mhd file

## Steps to reproduce

I opened Slicer and dragged a .mhd file into the Slicer window. The window "add data into the scene" popped up and I loaded the data file as a volume. Clicked "OK" and Slicer shuts itself down.

## Expected behavior

I expected that Slicer loaded the .mhd ultrasound volume like it always did before or like any other volume.

## Env

[2021-10-20 14:36] lassoan commented on #5955
Thank you, please provide the corresponding .raw file, too.

[2021-10-20 18:06] jcfr opened #5956 "Update VTK9 to the latest master"
Attempt to update VTK 9 version failed (See https://github.com/Slicer/Slicer/pull/5381)).

We summarizes here the identified issues and provide hints on how to move forward.

## Steps to reproduce

To configure Slicer with the latest version of VTK:

[code]

## Testing strategy

1. Ensure build completes on developer workstation
2. If @Kitware developer, reach out to @sjh26 and @jcfr to gain acces

[2021-10-20 20:33] jcfr opened #5958 "Readthedocs builds are triggered twice"
Following the comment of @jamesobutler in https://github.com/Slicer/Slicer/pull/5902#issuecomment-948004618, it appears that readthedocs builds are triggered twice.

Issue can be observed for both pull-request build and master branch build:

* for `master` branch

| First build | Duplicate build |
|--|--|
| ![image](https://user-images.githubusercontent.com/219043/138167235-d9092252-26f1-493a-8a0e

[2021-10-20 20:49] #5958 closed, assigned to nobody

[2021-10-21 02:49] lassoan commented on #5953
I was able to reproduce this. The segment list widget gets into some kind of invalid state and it does not display segments anymore.

@Sunderlandkyl could you have a look at this?

[2021-10-21 11:05] jamesobutler commented on #5955
The locations described such as on the Desktop or where SampleData would use a path with your username.

When the file is located on the desktop can you provide the full filepath of its location? Are there special characters anywhere such as your username?

Is your OS in a different language other than English?

[2021-10-22 08:16] #5955 closed, assigned to nobody

[2021-10-24 20:55] jamesobutler opened #5962 "Draw effect broken in Editor module"
Using the "Editor" module, the draw effect appears to be nonfunctional as clicking in the slice view does not place any points. It does not work with latest code as of writing this issue, but also did not work in a May 5th build of Slicer that I had with VTK9. It did however work with a April 21st build that VTK8 and it also works in current Slicer Stable 4.11.20210226 which is also using VTK8.

#

[2021-10-28 11:16] Fanweinan888 opened #5968 "Create mesh from DICOM image"
Dear master:
         I want to know what method was used to reconstruct the model from DICOM in SLICER. I tried the MC algorithm, The top of the reconstructed model is not closed. What should I do about it?

[2021-10-28 13:24] lassoan opened #5969 "Markups curvature scalar is not found in curve node"
When a curvature measurement is enabled for a markups curve node then a curvature scalar must be present in the point scalars, but it is missing.

## Steps to reproduce

- Create markups curve node, drop 5-6 points
- Go to Markups module, enable "curvature mean" measurement
- In Display / Scalars section check the content of "Active scalar" list => ERROR: only PedigreeIDs scalar found

## Expected

[2021-10-28 16:43] #5969 closed, assigned to Connor-Bowley

[2021-10-29 04:59] #5968 closed, assigned to nobody

[2021-10-29 15:42] lassoan opened #5973 "Extension page is empty if EXTENSION_SCREENSHOTURLS is empty in CMakeLists.txt"
A number of extension pages rendered as empty:

https://extensions.slicer.org/view/RegistrationQA/30338/win
https://extensions.slicer.org/view/Sandbox/30338/win
https://extensions.slicer.org/view/ShapeRegressionExtension/30338/win
https://extensions.slicer.org/view/SlicerDevelopmentToolbox/30338/win
https://extensions.slicer.org/view/SlicerOpenCV/30338/win

It seems those and only those extensions

[2021-10-29 18:11] pieper opened #5974 "Remove vtk8 option"
A vtk8 build of c26ac3396ec5e9a77cf6a68114c4eb0f8977fd16 I get several errors like this following.  Since we aren't testing vtk8 it's been breaking regularly.  Rather than fixing these as they come up probably we should just turn off the option.

This was a mac build but probably the same would happen anywhere with vtk8 selected.
[code]

[2021-10-29 20:17] lassoan commented on #5863
Packages show up on CDash, but the Download button still does not work.

This is quite bad because IT admins changed something at CHOP (Matt Jolley's group) and now they can only access the extensions manager via their standard web browser. However, they cannot download anything using the extensions server.

For example, open this link: https://extensions.slicer.org/catalog/All/30338/win then clic

[2021-10-29 20:18] lassoan commented on #5863
@jcfr please check this. It may be an easy fix and it would make a huge difference for users behind hospital/corporate firewalls.

[2021-10-29 20:58] jcfr commented on #5863
See https://github.com/KitwareMedical/slicer-extensions-webapp/issues/13

[2021-10-29 22:23] lassoan commented on #5863
OK, I'll comment on that issue.

[2021-10-31 04:50] LuPingChina opened #5975 "packaging and making the installation package"
After packaging and making the installation package, I found a problem: the console window will be displayed when the application starts, which is different from the official downloaded installation package. How can I configure it to not display the console window when the application starts

[2021-10-31 05:04] lassoan commented on #5975
You can configure such application options using CMake variables defined in SlicerApplicationOptions.cmake.

In recent Slicer master version the console is hidden by default and can be enabled using `Slicer_BUILD_WIN32_CONSOLE_LAUNCHER` CMake option as described [here](https://slicer.readthedocs.io/en/latest/developer_guide/debugging/overview.html#console-output-on-windows).

In the current Slicer

[2021-10-31 05:04] #5975 closed

[2021-11-01 04:40] lassoan opened #5976 "Make displayed markup node type names more user-friendly"
It is not clear for users that "Fiducial node" means a "fiducial list". It is not nice that a closed curve is referred to as "ClosedCurve node" on the GUI.

## Describe the solution you'd like

Use a different string for markup type in code and files (simple machine-readable string, such as `Fiducial`, `ClosedCurve`) and on the GUI (human-readable, translatable string, such as `fiducial list`, `cl

[2021-11-01 11:52] jamesobutler commented on #5976
“Create new Fiducial node” -> “Create new fiducial list”

https://github.com/Slicer/Slicer/blob/a15cbacbb91a3f187a8cd80c00bbb232e881f48b/Modules/Loadable/Markups/Widgets/qMRMLMarkupsToolBar.cxx#L468

In the context menu and markups module button it would be “Fiducial List” instead of simply “Fiducial”.
https://github.com/Slicer/Slicer/blob/a15cbacbb91a3f187a8cd80c00bbb232e881f48b/Modules/Loadable/

[2021-11-01 20:08] #5857 closed

[2021-11-02 09:16] LuPingChina opened #5979 "How can I retrieve data from the server and process it locally？"
In DICOM module, the query and retrieve function can be used to query the data on the server, but after clicking the retrieve button, the data cannot be added to the database. What's the problem? How can I retrieve data from the server and process it locally.

Retrieve button prompt:

[code]

[2021-11-02 09:55] LuPingChina commented on #5975
Thankyou very much

[2021-11-02 12:27] lassoan commented on #5979
This is most probably a DICOM network configuration issue. Please check if any of the [discussions of this topic on the Slicer forum](https://discourse.slicer.org/search?q=dicom%20query%20retrieve) helps and if you still have problems then describe everything that you have tried and the results you got. You may also try query/retrieve using the more modern DICOMweb protocol, by using the DICOMweb

[2021-11-02 12:27] #5979 closed

[2021-11-03 05:34] jcfr commented on #5974
Since VTK8 errors are being fixed, I will be closing this issue for now.

[2021-11-03 05:35] #5974 closed

[2021-11-03 11:11] LuPingChina commented on #5979
Thankyou very much again.

[2021-11-03 11:17] LuPingChina opened #5984 "I have some questions"
I have some questions:

1. How to integrate ffmpeg into slicer project.

2. How to integrate dicomweb extensions module into the project and integrate this extension when it is finally compiled into exe.

3. Is slicer ready for internationalization, specifically the launch of the Chinese version

[2021-11-03 12:28] pieper commented on #5974
Personally I'm going to stop building vtk8 (I'll consider it deprecated).

[2021-11-03 13:12] lassoan commented on #5974
I agree, I don't think that anybody would expect us to maintain compatibility with VTK8. @jcfr do you have a custom Slicer app that still requires VTK8?

[2021-11-03 14:24] #5984 closed

[2021-11-03 14:34] jcfr opened #5985 "Streamline maintenance removing support for VTK8"
## Is your feature request related to a problem? Please describe.

Considering that:
* there are no continuous integration testing the build of Slicer with option `Slicer_VTK_VERSION_MAJOR` set to `8`
* efforts are focused toward building against the latest version of VTK (see https://github.com/Slicer/Slicer/issues/5956)
* VTK8 is not maintained

the overall maintenance should be simplified by re

[2021-11-03 14:37] jcfr commented on #5974
The issues being trivial they have been fixed.

Removal VTK8 is now explicitly tracked in  https://github.com/Slicer/Slicer/issues/5985

We indeed have few projects but updating them is planned in their next phase.

[2021-11-03 14:40] jcfr commented on #5984
Related to https://github.com/Slicer/Slicer/issues/5979

[2021-11-04 02:04] DIV-on-github opened #5988 "BUG: deleting grow-from-seeds preview volume prevents initialisation from being cancelled"
Deleting a grow-from-seeds preview volume in the Data module prevents the grow-from-seeds initialisation from being cancelled in the Segment Editor module.

## Steps to reproduce

As per
https://discourse.slicer.org/t/segment-editor-unable-to-restart-grow-from-seeds-effect-from-scratch-if-volume-deleted/20449
1    (a) Paint seeds in many segments. (b) Toggle visibility of some relevant segments of

[2021-11-04 02:19] jamesobutler opened #5989 "Update Markups API to make consistent name change Fiducial to Point List"
As completed in https://github.com/Slicer/Slicer/pull/5986, a vtkMRMLMarkupsFiducialNode was updated from being displayed as a "Fiducial" to instead by displayed as a "Point List". Things are now confusing for developers that to create a "Point List", one must call something like `slicer.mrmlScene.AddNewNodeByClass("vtkMRMLMarkupsFiducialNode")`.

As suggested by @jcfr in https://github.com/Slicer

[2021-11-04 02:20] jamesobutler opened #5990 "Simplify Markups API with clear deprecations of old methods"
Consider the following where there are 3 different methods that do the same thing, but have different names without any deprecations about which is the preferred one to use and which ones are scheduled to be removed.

There appears to be carry over from "Annotations" module days which had "Fiducial" and that was ported to the "Markups" module for compatibility. Then a new version called "Markup" w

[2021-11-04 02:20] jamesobutler commented on #5990
@lassoan Can you help with the plan of how to proceed here?

[2021-11-04 03:05] lassoan commented on #5989
Node name is used as point name prefix, therefore using "PL" as default node name would result in point names PL-1, PL-2, ... ("point list 1", "point list 2"). Also, when a second node is added then point names would be PL_1-1, PL_1-2, PL_1-3..., which sound very complicated.

Therefore, it would be better to use "P" as default node name for point lists.

We could also consider changing how unique

[2021-11-04 03:11] jamesobutler commented on #5989
Currently Markups Plane nodes use “P” as the default name so it would have to be changed if we have that letter to “Point List”.

[2021-11-04 03:13] lassoan commented on #4576
The topic has come up recently:
- https://discourse.slicer.org/t/new-markups-functionality-retains-unset-control-point-positions/20140/11
- https://discourse.slicer.org/t/rfe-add-ability-to-safely-disengage-unintentionally-dragged-handle/20484

Undo/redo can be enabled  for markups using this code snippet:

[code]

It is not enabled by default because historically it was attempted to be enabled fo

[2021-11-04 06:11] jcfr commented on #5990
Based on [this search](https://github.com/search?p=3&q=SetNthFiducialLocked&type=Code), it used only here

https://github.com/SlicerMorph/SlicerMorph/blob/07e63af8145d07a62182a75bbc3050076f1fc01c/PseudoLMGenerator/PseudoLMGenerator.py#L274-L275

The other results corresponds to Slicer forks

[2021-11-04 06:15] jcfr commented on #5990
Based on [this search](https://github.com/search?q=SetNthMarkupLocked&type=Code), it is used at least in `SlicerRT` and `QIICR/PETTumorSegmentation`

[2021-11-04 06:32] jcfr commented on #5990
Based on [this search](https://github.com/search?q=SetNthControlPointLocked&type=Code), it is used in:

* https://github.com/SlicerMorph/SlicerMorph/blob/1e10653243971667ecde9750b730189e4b9aba91/MorphPreferences/Resources/SlicerMorphRC.py

* https://github.com/Mazze/CartoInterpolation/blob/3d6360c8752570cb8604dbdcaaed9b2a319d1c13/convert.py

* https://github.com/stephan1312/SlicerEAMapReader/blob/

[2021-11-04 13:53] lassoan commented on #5990
We don't see all the private projects that may use the old APIs, so I would recommend to focus on the API that we want to have. The API should be consistent in naming, behavior, and types, and it is safe and fast in C++ and convenient in Python (e.g., return a vector instead of requiring and input vector that the method updates) with no redundancy.

Deprecation is a long process if we don't want t

[2021-11-04 16:16] smrolfe commented on #5989
The PL_1-1, PL_1-2, PL_1-3 style of naming of points is also consistent with the way open and closed curve points are named.

[2021-11-04 19:11] gnketiah opened #5996 "How to access or save output image after running CLI from Python"
I have created or run a CLI from Python to calculate T1 mapping as follows.

cliNode = slicer.cli.runSync(slicer.modules.t1mapping, None, parameters)

Detailed script:

[code]

All parameters were set correctly and it runs without error (form cliNode.GetErrorText()). My question is how to access or save the calculated or resulting image from cliNode . I would prefer to it save as .nrrd or .mhd fil

[2021-11-04 19:24] lassoan commented on #5996
The issue tracker is for tracking confirmed issues or feature requests. Please post this question to the [Slicer forum](https://discourse.slicer.org/) where the community can find it and help answering it.

[2021-11-04 19:25] #5996 closed

[2021-11-04 19:56] gnketiah commented on #5996
Thanks for the swift response

[2021-11-05 12:37] lassoan commented on #5796
I'm trying to fix [Landmark registration test](https://slicer.cdash.org/test/20015471) that fails because it [tries to download test data from Midas](https://github.com/Slicer/LandmarkRegistration/blob/290d481ffc1a378a8756e83d437b150aa6c7e30d/LandmarkRegistration.py#L1161-L1165). However, I cannot fix it because I can find small-mr-eye-fixed.nrrd data set but the `small-mr-eye-moving.nrrd` is not

[2021-11-05 14:14] jcfr commented on #5796
Here are the files (with `.txt` extension added to allow drag and drop here):
* [small-mr-eye-fixed.nrrd.txt](https://github.com/Slicer/Slicer/files/7486567/small-mr-eye-fixed.nrrd.txt)
* [small-mr-eye-moving.nrrd.txt](https://github.com/Slicer/Slicer/files/7486568/small-mr-eye-moving.nrrd.txt)

Could you upload then to https://github.com/Slicer/SlicerTestingData ?

[2021-11-05 14:55] lassoan commented on #5796
Yes, thank you, I'll upload them!

Have you found the 4 other files that I've mentioned [above](https://github.com/Slicer/Slicer/issues/5796#issuecomment-938636218), too?

[2021-11-07 22:50] lassoan commented on #5544
When you hover over a widget then it is expected to be interactive, regardless of the mouse mode. The handles should be shown when the widget has the focus. When you hover over a widget then typically it gets the focus, except when you are in place mode because then typically the widget that is being placed claims the focus (by returning 0.0 distance from `canProcessEvent` method).

I don't think

[2021-11-08 01:19] jamesobutler commented on #5962
The Editor module was removed in 39283db420baf502fa99865c9d5d58d0e5295a6e so this issue can be closed.

[2021-11-08 01:19] #5962 closed

[2021-11-08 11:35] DIV-on-github opened #6002 "Cancelling "Create new (node) as ..." dialog should not create new object"
Cancelling "Create new _X_ as ..." dialogue creates new object with the default name (as if from "Create new _X_"), but clicking `Cancel` should not produce any object.
I think this happens in several modules, with different types of object, including `Table` and `Volume`.

## Steps to reproduce

Invoke "Create new Table as ..." dialogue, such as for the _Output table_ of the **Segment Statistics*

[2021-11-08 12:27] DIV-on-github commented on #6002
Actually the dialogue is a "Rename" dialogue.
Apparently what is happening when choosing the "Create new _X_ as ..." menu item is that Slicer first creates the object (with the default name) and then invokes the _Rename_ dialogue.

[2021-11-08 15:19] lassoan commented on #6002
I agree that it would be nicer if the node would not be created until the user specifies a name and clicks OK.

"Create new X as..." indeed creates a new node and offers the user to rename it:

https://github.com/Slicer/Slicer/blob/f46c47486bf081edff6ad246e2ca4e9265f40416/Libs/MRML/Widgets/qMRMLNodeComboBox.cxx#L437-L438

I agree with labels added by @pieper that it is an easy fix (display an inpu

[2021-11-08 17:26] jamesobutler commented on #5599
Testing with Slicer 4.13.0-2021-11-05 which includes dd8d8a5650af40601cd85091f23c3f66b86b8ccc, I was not able to see this issue when switching to WindowLevel mouse mode using the toolbar in the UI, but I do still see the issue if I have my segment editor effect icon in the slice view and then I call to switch to AdjustWindowLevel mode programmatically without moving the mouse.
[code]
I also still

[2021-11-08 17:26] jamesobutler commented on #5915
Closed by dd8d8a5650af40601cd85091f23c3f66b86b8ccc.

[2021-11-08 17:26] #5915 closed

[2021-11-08 20:14] lassoan commented on #5863
This has come up again: https://discourse.slicer.org/t/how-do-i-integrate-these-installed-extensions-into-the-exe-installation-package/20525

[2021-11-08 22:04] jcfr commented on #5863
Thanks, I will tackle this in the next few days.

[2021-11-09 00:58] angel-baal opened #6004 "osx bigsur Compile error"
## Is your feature request related to a problem? Please describe.

[A clear and concise description of what the problem is. Ex. I'm always frustrated when...]

OSX BigBur Compile
-- SimpleITK: Errors detected - See below.
running install
running bdist_egg
running egg_info
creating SimpleITK.egg-info
writing SimpleITK.egg-info/PKG-INFO
writing dependency_links to SimpleITK.egg-info/dependency_links

[2021-11-09 00:59] angel-baal commented on #6004
![1](https://user-images.githubusercontent.com/73781094/140842217-ebf71801-e61c-49cc-a3ff-710347e927f4.png)

[2021-11-09 01:46] angel-baal commented on #6004
ok

[2021-11-09 01:46] #6004 closed

[2021-11-09 02:53] asammarc opened #6005 "Issue with startup"
When I updated to the most recent stable version of slicer, when I open it it looks like this:
![image](https://user-images.githubusercontent.com/93960419/140852873-7a05dca6-cf1f-48ba-a59f-519b5d99a883.png)
I have tried uninstalling and reinstalling several times, with no success.

## Steps to reproduce

When I click the slicer icon to open the program, this is how it looks.

## Expected behavior

[2021-11-09 02:55] lassoan commented on #6005
This is caused by a faulty Intel Graphics driver version (see https://discourse.slicer.org/t/slicer-opening-screen-error-green-stripes/12543). Upgrading or downgrading to a different version fixes the issue.

[2021-11-09 02:55] #6005 closed

[2021-11-09 04:14] lassoan opened #6006 "SubjectHierachy MoveItem method has no visible effect"
vtkMRMLSubjectHierarchyNode::MoveItem method has no immediate visible effect.

See more details here: https://discourse.slicer.org/t/how-to-collapse-a-folder-by-code/20082/8

## Steps to reproduce

Create scene like this:

![image](https://user-images.githubusercontent.com/307929/140860773-e960c719-4711-4e38-9efb-da151c4dd180.png)

Run this code snipped:

[code]

Nothing changes in the subject hie

[2021-11-09 15:27] #5976 closed

[2021-11-09 19:31] fbordignon commented on #5014
Hi all, I am trying to make progress on this issue with a PR to python-cmake-buildsystem https://github.com/python-cmake-buildsystem/python-cmake-buildsystem/pull/281
I am available to discuss the issues and test a Slicer build with python 3.10

[2021-11-09 20:21] jamesobutler commented on #5014
@jcfr do you have to plans to finalize those PRs to add more python version support? You are the maintainer of that repo so will need your help there.

[2021-11-10 15:09] jcfr commented on #4700
The CMake code responsible for fixing up the designer is executable is the following:

https://github.com/Slicer/Slicer/blob/1606047698a54081779d09a5142ff79353136667/CMake/SlicerCPackBundleFixup.cmake.in#L360-L419

the first part generates the following command responsible for fixing up the `Designer` executable:

[code]

... that said, after manually running the command, I noticed that it fails w

[2021-11-10 15:18] jcfr commented on #4700
The regression  could have been introduced when transitioning from Qt 5.10.0 to Qt 5.15.0:

![image](https://user-images.githubusercontent.com/219043/141139781-9ff0d428-8ee7-4c61-9df2-a2f01e4b2ad7.png)

Note that I confirmed that the path was already `@executable_path/../Frameworks` in the designer executable built within Qt `5.15.0`, `5.15.1` and `5.15.2`.

[2021-11-10 15:29] lassoan commented on #4700
Thank you @jcfr for fixing this and also sharing details about how to diagnose and fix such issue - we can learn a lot from it.

[2021-11-10 15:35] jcfr opened #6010 "Improve error reporting associated with macOS packaging"
## Is your feature request related to a problem? Please describe.

Issue like the one reported in #4700 are not detected until  a user reports the problem.

## Describe the solution you'd like

Check the status associated with the relevant `execute_process` used in [CMake/SlicerCPackBundleFixup.cmake.in](https://github.com/Slicer/Slicer/blob/master/CMake/SlicerCPackBundleFixup.cmake.in) and report

[2021-11-10 18:28] lassoan opened #6011 "Bad alloc error when loading an sequence on linux"
Slicer displays a "Bad alloc" popup when loading or browsing a sequence. It prevents sequence replay because the error popup is displayed at each frame change.

The problem did not exist in Slicer-4.13.0-2021-10-06-linux-amd64 release, and appeared in Slicer-4.13.0-2021-10-07-linux-amd64. Since the only change that might have been related was the upgrade of the gcc compiler, the error is most like

[2021-11-10 18:30] lassoan commented on #6011
Attaching gdb and catching thrown exceptions resulted in this call stack:

[code]

The error is caused by std::regex used here:

https://github.com/Slicer/Slicer/blob/4d13db4c5d707b96844ff41e072aa0f30ce7fbf6/Modules/Loadable/Sequences/MRML/vtkMRMLSequenceBrowserNode.cxx#L1564-L1565

[2021-11-10 19:29] lassoan commented on #4700
@ungi The problem is fixed now, please ask your students to try the Slicer Preview Release tomorrow and report back here if everything works as expected.

[2021-11-10 21:52] Connor-Bowley opened #6013 "Potential memory leak in vtkMRMLMarkupsStorageNode.cxx"
## Problem

`vtkMRMLMarkupsJsonStorageNode::vtkInternal::CreateJsonDocumentFromFile` returns a raw owning pointer. This pointer is not consistently deleted when obtained.

Examples:

- `vtkMRMLMarkupsJsonStorageNode::GetMarkupsTypesInFile` never deletes pointer
- `vtkMRMLMarkupsJsonStorageNode::ReadDataInternal` doesn't delete pointer on some early return paths

## Solution

`vtkMRMLMarkupsJsonSto

[2021-11-11 01:52] #6013 closed

[2021-11-11 16:37] jamesobutler commented on #5014
Python 3.6 goes End-Of-Life in 42 days (Dec 23rd 2021). https://endoflife.date/python

[2021-11-11 17:19] fbordignon commented on #5014
@jamesobutler I am trying to do some work on this but my skills at cmake are not sufficient. I've commented on the [PR](https://github.com/python-cmake-buildsystem/python-cmake-buildsystem/pull/281) I've opened. I think we are close, but it is taking a lot of time for me to figure out stuff.

[2021-11-11 19:37] #5850 closed

[2021-11-11 19:42] lassoan commented on #5850
The issue was that the same study instance was used with different patient name and ID. This made a patient appear in the database that did not have any associated studies. The BatchStructureSetConversion script stopped with an error when encountered an empty patient.

It would be probably better to fix this in the input DICOM data, but I've updated the BatchStructureSetConversion script to be mor

[2021-11-11 20:05] ferdymercury commented on #5850
Thanks so much!

[2021-11-11 21:15] #5926 closed

[2021-11-11 22:11] lassoan commented on #5894
Please test with the latest Slicer Preview Release, too.

Can you share a sample data set that reproduces this issue?

[2021-11-11 22:46] jamesobutler opened #6019 "user_guide/modules/terminologies"

[2021-11-11 22:50] jamesobutler commented on #6019
Apologies for issue created. An errant action was triggered while scrolling on mobile.

Evidently you can create an issue with one click from a to-do list in an issue.
![image](https://user-images.githubusercontent.com/15837524/141380253-521a6d90-f2a1-4fa6-ba0d-44c83403534f.png)

[2021-11-11 22:50] #6019 closed

[2021-11-11 23:07] jamesobutler commented on #5913
@lassoan I'm unable to replicate this using Slicer-4.11.0-2021-09-27 (downloaded from https://slicer.cdash.org/viewFiles.php?buildid=2415461). I did the following:
- Launch Slicer
- Go to Markups module
- Press the create fiducial button in the markups module and place an initial point
- Expand the control points table
- Place more control points
- File->Report a bug to view the log

Can you see o

[2021-11-12 00:04] ignaciordc commented on #5894
Andras:

Thanks for asking. Fedorov gave me a hint to solve it: some of the images had been generated with different number of Rows/Columns.
So, all is good.

Thanks,
   Ignacio

[2021-11-12 01:36] DIV-on-github commented on #2384
Currently grids can be customised with scripts.  See https://discourse.slicer.org/t/is-there-a-way-to-view-just-one-slice-with-one-3d-view/20541/2

[2021-11-12 04:05] lassoan commented on #4700
Confirmed it works well in Slicer-4.13.0-2021-11-10. Thank you @jcfr!

[2021-11-12 04:05] #4700 closed

[2021-11-12 05:29] lassoan commented on #5894
Thanks for the update, I'm closing this issue then.

[2021-11-12 05:29] #5894 closed

[2021-11-12 06:11] #5917 closed

[2021-11-12 06:11] #5914 closed

[2021-11-12 06:17] lassoan commented on #5913
Yes, sorry, it is only in debug mode.

[2021-11-12 08:31] LuPingChina opened #6022 "How to set the title and name of the modul"
How to set the title and name of the module when the application starts and before the module is used

[2021-11-12 11:06] fbordignon commented on #5014
![image](https://user-images.githubusercontent.com/4790289/141456908-77fa8a58-019a-43a1-94fa-2bf704bf52ce.png)

Still have a problem with SimpleITK but it went all the way to the CPack and generated a package. I had to do some dirty manual workarounds that I plan to work on and make it less dirty. At least now I know that it is possible 👍

[2021-11-12 13:21] jamesobutler commented on #5936
@lassoan since you merged #5937, this issue can be closed now?

[2021-11-12 13:29] jamesobutler commented on #5036
@fepegar Do you want to track testing issues over at https://github.com/fepegar/SlicerTorchIO/issues instead of in this issue? I believe the originally posted issue is not happening anymore. However some tests are timing out because it gets to the confirm ok/cancel display for `TorchIO will be downloaded and installed now. The process might take some minutes.` and that never gets clicked on.

[2021-11-12 13:34] jamesobutler commented on #5884
@charuu Are you still able to replicate this issue with the very latest Slicer Preview build?

[2021-11-12 13:42] lassoan commented on #5036
To skip popups during testing, you can check `slicer.app.commandOptions().testingEnabled` property in Python. It is set to `True` when Slicer is launched with `--testing`, which is enabled for most (if not all) automatic tests.

[2021-11-12 13:43] lassoan commented on #5936
Yes, good catch, it is fixed now.

[2021-11-12 13:43] #5936 closed

[2021-11-12 14:06] jamesobutler commented on #5913
I wonder if this will be fixed by @jcfr ’s PR #6015.

[2021-11-12 14:31] lassoan commented on #5913
Unfortunately, it is not likely that the deprecation warnings will fix this. There seems to be an actual issue with how items are selected. I also see huge slowdowns of the control point table when having just a few hundred points in it.

So, the control point table must be thoroughly reworked. It also has to be factored out from the module widget to become a standalone, reusable widget (maybe jus

[2021-11-12 16:29] lassoan commented on #6022
We use the issue tracker for tracking confirmed issues and features requests. Please ask questions about how to use and develop Slicer on the [Slicer forum](https://discourse.slicer.org/).

[2021-11-12 16:29] #6022 closed

[2021-11-12 16:48] fepegar commented on #5036
If the originally posted issue is not happening anymore, I'm happy to track this somewhere else. I will reopen if I see the errors are still happening. Thanks, @jamesobutler and @lassoan.

[2021-11-12 16:48] #5036 closed

[2021-11-12 20:06] fbordignon commented on #5014
I've managed to solve the issue with SimpleITK and it is working now.

However, I am concerned about the fact that many popular libs don't have a pypi prebuilt wheel for python 3.10
Example: scikit-image, matplotlib, pyside2

Hence, I believe the users would benefit the most from an update to python 3.9, so they would have more packages available to install directly via pip without the need to bui

[2021-11-12 20:16] jamesobutler commented on #5014
Are there any python packages in Slicer core that don’t have Python 3.10 wheels available on PyPI?

It looks like in some cases that packages are about to release updates where Python 3.10 wheels will be available. For instance matplotlib’s 3.5.0 milestone is almost complete and they have Python 3.10 wheels available for their release candidate as seen https://pypi.org/project/matplotlib/3.5.0rc1/

[2021-11-12 20:28] lassoan commented on #5014
Indeed, wheels are only available for cp37, cp38, cp39 for both https://pypi.org/project/matplotlib/#files and https://pypi.org/project/scikit-image/#files. Not that we care about any particular package, but such basic packages missing indicate that Python-3.10 is just not ready for users yet. This article lists many other issues with Python-3.10: https://pythonspeed.com/articles/switch-python-3.1

[2021-11-12 20:30] fbordignon commented on #5014
Not that I've noticed.

Good point, I agree with it but I am still reluctant. I would bet it is a safer path to go with 3.9 since we have almost 4 years until the end of life of 3.9. I can help with the upgrade to 3.10 if more wheels are made available.

[2021-11-12 20:54] jamesobutler commented on #5014
It appears that it is just always the situation of people wait until something is publicly released to update to use it. So if Python3 3.10 was released later, it would just result in issues later on as people would still not take advantage of it earlier.

Considering that article was written a couple days after the release of Python 3.10 I would guess that many of its points are already outdated

[2021-11-12 20:57] jamesobutler commented on #5014
That's great. Note that you can use https://github.com/Slicer/Slicer/blob/master/Utilities/Scripts/python_package_updater.py to help updating all the version hashes that correspond to the new python version.

[2021-11-12 22:41] lassoan commented on #5014
The next 1-2 years (age 1-3) will be the best years of Python-3.9: already stable but still widely used and maintained. If we developed a Python library then of course we would need to start working on Python-3.10 compatibility ASAP. But as application developers, it would not make sense for us to move to Python-3.10 now, unless there is some extremely important feature for us in 3.10 that would m

[2021-11-13 14:28] fbordignon commented on #5014
I agree with Andras. Let's wait for more developers to jump on board of the 3.10 train and we can update to 3.10 in a year or so.
The upgrade should be smoother if we keep upgrading to each new version. I will open a PR on python-cmake-buildsystem for python 3.9.8.

[2021-11-13 16:58] jamesobutler commented on #5014
Yeah you can issue a PR to pythonCmakeBuildSystem for both 3.9 and 3.10 and then later we can just update Slicer to configure it for the newer version and it’ll all be ready to go without additional updates.

[2021-11-13 18:01] lassoan commented on #6011
The fix has worked! There is no bad_alloc error on linux with today's Slicer Preview Release when browsing sequences.

I've just noticed a build warning related to this that would need to be addressed:

https://circleci.com/api/v1.1/project/github/Slicer/Slicer/2691/output/104/0?file=true&allocation-id=618ec848fd29543fc7029728-0-build%2F371DE278

[code]

Probably the fix is simply to replace \ by

[2021-11-13 19:20] #6011 closed

[2021-11-15 11:39] fbordignon commented on #5014
Guys, I am almost done with the commits to complete the update to python 3.9.8 but I need help with one issue.

Python 3.8+ changed a little bit the behavior of dll loading on windows see: https://docs.python.org/3/whatsnew/3.8.html#bpo-36085-whatsnew
TL;DR; dll search path does not include the PATH env variable anymore, we need to explicitly call os.add_dll_directory passing relevant dirs

Two pl

[2021-11-16 03:18] jamesobutler commented on #5935
I’m not sure how including commit history would realistically work here in merging back to Slicer core.

It wouldn’t make sense to put all commits on top of Head as it would create broken points in the Slicer history where there would be failures due to incompatibilities.

If all commits were put into correct authored date order, then it would require rewriting commit history in Slicer which is qu

[2021-11-16 03:38] fedorov commented on #5935
No big deal from my side if commit history is lost.

[2021-11-16 14:10] lassoan commented on #5951
Fixed in https://github.com/Slicer/Slicer/pull/5964

[2021-11-16 14:10] #5951 closed

[2021-11-17 01:51] jamesobutler commented on #5014
Because previously discussed in https://github.com/Slicer/Slicer/issues/5014#issuecomment-967454827 about wheels for Python 3.10, I’ll provide an update here that matplotlib 3.5.0 is out now with Python 3.10 wheels https://pypi.org/project/matplotlib/3.5.0/#files.

Pyside2 for Qt5 doesn’t have a Python 3.10 wheel, but Pyside6 for Qt6 does have Python 3.10 wheel https://pypi.org/project/PySide6/6.2

[2021-11-17 10:50] tlfaller opened #6028 "Linear transform is not taken into account to crop with MarkupsROI"
The MarkupsROI can be used to crop a 3D rendering volume. No transform is needed to rotate it.
However, there is an unexpected behavior when a linear transform is applied to the Markups ROI. The MarkupsROI box is indeed shifted, but the cropped volume rendering is not updated accordingly (it remains unchanged at the same place).
As a result the ROI and the cropped volume rendering regions do not c

[2021-11-17 14:34] Sunderlandkyl commented on #6028
What version of Slicer are you using? I just tested it on the latest nightly and the transform is applied to the ROI cropping.

[2021-11-17 15:00] jamesobutler commented on #6028
It appears @tlfaller  has indicated they were using Slicer version: Slicer-4.11.20210226 as indicated in their original report. @tlfaller try the latest Slicer preview build and post here if that has the expected behavior for you.

Occasionally it comes up about a bug in Slicer stable that has already been fixed in the latest Slicer Preview. I wonder if it would be good to mention in the Bug Repor

[2021-11-17 22:21] #5990 closed

[2021-11-17 22:23] #5953 closed

[2021-11-18 10:07] tlfaller commented on #6028
Thank you for your quick responses. Indeed it works on a newer version of
Slicer.

Le mer. 17 nov. 2021 à 16:00, James Butler ***@***.***> a
écrit :

[2021-11-18 13:37] lassoan commented on #5988
This is already fixed in recent Slicer Preview Releases. Please test.

[2021-11-18 16:10] lassoan commented on #6028
Good idea. I've added a note there (https://github.com/Slicer/Slicer/commit/26111a1f901658d7463334a32e050cc38e93e1c9#diff-185833cb26d7ac66a4d39042fd576a820c2c2c6d05ad18973bb9c7dce77267c5).

[2021-11-18 16:11] lassoan commented on #6028
Closing, as the issue has been fixed in recent Slicer versions.

[2021-11-18 16:22] lassoan commented on #5989
@jamesobutler do you think there is anything left other than renaming vtkMRMLMarkupsFiducialNode to vtkMRMLMarkupsPointListNode?

It would be nice to rename vtkMRMLMarkupsFiducialNode to vtkMRMLMarkupsPointListNode, but it would be a very disruptive change, unless we find some clever solution for a smooth transition. Maybe adding a vtkMRMLMarkupsPointListNode class as a child of vtkMRMLMarkupsFidu

[2021-11-18 16:53] #5599 closed

[2021-11-18 21:45] jamesobutler commented on #5989
I created this issue specifically for figuring out the method of doing the rename of vtkMRMLMarkupsFiducialNode to vtkMRMLMarkupsPointListNode and how that transition would go regarding deprecation or hard transition. Therefore I think this issue makes sense to keep open to represent that work rather than writing up a new one.

I was interested to see how this transition has worked in the past, so

[2021-11-18 21:51] pieper commented on #5989
Thanks for the research 👍

I think a fairly hard transition would be okay at some point shortly after the major release.  We would definitely want to read in old scenes and maybe for a while leave in stubs that generate run-time messages so scripts can be adapted.  Then a general cleanup of old code would be great.

[2021-11-19 13:39] lassoan commented on #5398
Selecting visible points is still a performance bottleneck a RelWithDebInfo build shows that about 50% of time is spent in Update() of this filter when rendering 300 lines in the 3D view.

vtkFastSelectVisiblePoints is a huge improvement over vtkSelectVisiblePoints in that the Z buffer is only computed once per rendering. However, considering how little the filter does (checks if a point is visibl

[2021-11-19 14:27] #5934 closed

[2021-11-19 15:20] lassoan commented on #5398
Another idea to make rendering faster (moved over from #5752): reduce the number of actors.

We added a separate actor for displaying control points with different properties (normal, selected, active), just with different colors. We could modulate the color (and even the markup glyph type) using a point data array. Merge the Unselected+Selected+Active pipeline and the Project+ProjectBack pipeline

[2021-11-19 15:23] lassoan commented on #5752
Some improvement ideas has been merged (determining scale factor), others have proven not to make a big difference (debug leaks), and the remaining idea of merging actors is now tracked in #5398, therefore closing this issue now.

[2021-11-19 15:23] #5752 closed

[2021-11-19 15:42] Connor-Bowley commented on #5398
I don't know if this will make much of a difference during times when all or nearly control points are of the same property (usually selected). If a property doesn't have any control points (e.g. unselected, active), then its actor is not rendered into the viewport during `RenderOverlay`, `RenderOpaqueGeometry`, and `RenderTranslucentPolygonalGeometry`. The actors are still returned by `GetActors`

[2021-11-19 15:48] jamesobutler commented on #4933
I can confirm having built Slicer locally and packaging with CMake 3.22.0 downloaded from https://cmake.org/download/ that it successfully uninstalls from Windows settings Apps & Features area. It actually brings up the uninstaller correctly.

![image](https://user-images.githubusercontent.com/15837524/142650976-dadcd5b6-c0b7-4ada-b35c-ed423af0407c.png)

![image](https://user-images.githubusercont

[2021-11-19 15:50] lassoan commented on #4933
Thanks for testing. I'll update the target release to Slicer-4.13.

[2021-11-20 04:13] lassoan commented on #5989
Everything but renaming vtkMRMLMarkupsFiducialNode to vtkMRMLMarkupsPointListNode has been implemented. We'll get back to this class rename after Slicer5 is released.

[2021-11-20 05:22] #5265 closed

[2021-11-20 05:22] #5519 closed

[2021-11-20 06:38] lassoan commented on #5340
Yes, the issue is resolved.

[2021-11-20 06:38] #5340 closed

[2021-11-20 15:58] #5898 closed

[2021-11-23 04:57] jcfr commented on #5863
Closing. A fix has been integrated. See https://github.com/KitwareMedical/slicer-extensions-webapp/pull/64

[2021-11-23 04:57] #5863 closed

[2021-11-23 16:43] jamesobutler commented on #5269
@lassoan I believe SlicerJupyter can be checked off as it appears to be successfully on factory build machines metroplex (Linux), factory-south-macos (macOS) and overload (Windows).

[2021-11-23 20:24] jamesobutler commented on #4772
Given the discussion at https://github.com/Slicer/Slicer/pull/4904#issuecomment-956351314, should this issue be tagged with the `status:wontfix` label and then be closed?

[2021-11-23 20:37] jamesobutler commented on #4676
The segment effect cursor icon was an opaque image in the "Editor" module that was removed in https://github.com/Slicer/Slicer/commit/39283db420baf502fa99865c9d5d58d0e5295a6e. The newer "Segment Editor" module makes the white color transparent so the cursor icon does not block as much of the image.

However the cursor icon can still block some of the image which could be a concern to the user, how

[2021-11-23 20:50] jamesobutler commented on #4321
EMSegment was removed in https://github.com/Slicer/Slicer/commit/9a9c2b199d41ddae80b275d48fd2db6ddf4e45f3. The last repository specified was http://svn.slicer.org/Slicer3/branches/Slicer4-EMSegment. Since there is not a corresponding GitHub repo for this in the Slicer organization I will not use the GitHub feature of "Transfer issue", but will instead simply close the issue.

[2021-11-23 20:51] #4321 closed

[2021-11-23 21:15] jamesobutler commented on #3553
`registrationState` is from SlicerRT's [PlmRegister](https://github.com/SlicerRt/SlicerRT/tree/d0d8fa91f208303c5050762141441972a0e32a0e/PlmRegister) module while the LandmarkRegistration module is now maintained at https://github.com/Slicer/LandmarkRegistration.

[2021-11-23 21:17] jamesobutler commented on #3458
This does not appear to be an issue with the newer `vtkMRMLMarkupsLineNode` objects which are used for ruler measurements.

[2021-11-23 21:26] jamesobutler commented on #3271
In https://github.com/Slicer/Slicer/commit/598dea0b5f2acadffde161111bc071eff0dc8b25, a "Copy image" action was added to right-click context menu for 2D and 3D slice views. This is just like the suggested copy from 2d/3d frame to add to system clip board to quickly create figures. Closing this issue based on this work.

| Right-click copy | Results can be Paste into another program|
|--------------

[2021-11-23 21:26] #3271 closed

[2021-11-23 21:32] jamesobutler commented on #2606
The annotations module has been deprecated so design elements for this module are no longer relevant. A new issue for design elements related to the Markups module should be created instead.

[2021-11-23 21:32] #2606 closed

[2021-11-23 21:41] jamesobutler commented on #2291
https://github.com/Slicer/Slicer/commit/2c3bbb7ddbde3618c6056d419eacfb70c12b4e8f which includes https://github.com/commontk/CTK/commit/c4f1eeead234022e74de978126e3a54f648880e5, it was changed for the directory selection to use the OS level native file dialog rather than a custom Qt one. This should resolve the original reporter's issue as you can type part of the path in the Windows Native File Di

[2021-11-23 21:41] #2291 closed

[2021-11-24 04:08] lassoan opened #6037 "Enable long file path support on Windows"
Files that have longer path than MAX_PATH (260 characters) cannot be accessed in Slicer.

Such files can be created on any file system that supports longer paths, by using UNC path convention (i.e., adding the `\\?\UNC\` prefix to a path), because when a Win32 API function is called with an UNC path then Windows does not interpret the path (so path length limitations do not apply), but the name is

[2021-11-24 04:13] lassoan commented on #6037
Quick search for MAX_PATH brought up sporadic usage in the following libraries (that may be fixed before long paths can be enabled in Slicer):
- KWsys
- VTK
- teem
- swig
- Python-3.6.7
- LibArchive
- GDCM
- DCMTK
- curl

In most cases the path is hardcoded at a very few places, so fixing them should be fairly straightforward (and may be used in tests or during build time only, which might not be

[2021-11-24 06:42] DIV-on-github opened #6038 "Add ability to safely release unintentionally dragged handle"
## Use cases
Adapted from https://discourse.slicer.org/t/rfe-add-ability-to-safely-disengage-unintentionally-dragged-handle/20484

# Unintentionally grabbing a handle (instead of rotating, etc.)

In the 3D viewport a common operation would be to use the mouse to rotate by left-clicking (or, strictly speaking, left-button-pressing) & dragging. The same sequence is also used for other tasks, though,

[2021-11-24 12:58] jamesobutler commented on #6038
xref #4576

[2021-11-25 17:07] lassoan opened #6043 "Segment Editor masking interferes with Islands effect"
Keep largest island mode of Islands effect does not do anything if Editable intensity range is set.

## Steps to reproduce

- Load this scene: https://1drv.ms/u/s!Arm_AFxB9yqHx6YY2CKB_jms9V_W6A?e=MOB6U1 (it contains several segmented islands and editable intensity range that includes all the islands)
- In Islands effect, select "Keep largest island" mode and click Apply

=> ERROR: wait cursor is d

[2021-11-26 15:15] #6043 closed

[2021-11-26 15:31] #4603 closed

[2021-11-28 00:05] jamesobutler commented on #4976
To document it here, this issue was brought up again at https://discourse.slicer.org/t/no-segmenteditorextraeffects-in-v4-13/20773

[2021-11-28 00:25] jamesobutler commented on #3169
I guess this issue should also be for adding disclaimers to Slicer 4 documentation to link to the latest version documentation at https://slicer.readthedocs.io/en/latest/

[2021-11-28 00:27] jamesobutler commented on #4644
@jcfr Did CDash developers ever answer your question about being able to rename a project?

[2021-11-29 16:53] jcfr commented on #4644
Indeed, there are few tasks to consider that would also require coordinating between different people:

* update name of project in CDash database
* rename the project in CTestConfig
* setup a rewrite rule in Apache to have the URL with `Slicer4` rewritten to the one with `SlicerStable`

For completeness, here is the comment of @zackgalbreath from _Jan 17, 2019, 11:26 PM_

[2021-11-29 17:01] lassoan commented on #2393
Probably we'll keep having a few resampling modules. They should be in the same category. Current categories are very arbitrary:

- "Resample Scalar/Vector/DWI Volume" -> Diffusion / Utilities
- "Resample DTI Volume" -> Diffusion / Utilities
- "Resample Scalar Volume" -> Legacy / Filtering
- "Resample Image (BRAINS)" -> Registration
- "Crop Volume" -> Converters

[2021-11-29 17:07] jcfr commented on #4644
Alternatively, we could simply create a new project called `SlicerStable` and once we have released Slicer 5:
* delete the older `Slicer4` project
* setup a rewrite rule in Apache to have the URL with `Slicer4` rewritten to the one with `SlicerStable`

That way creating the rewrite rule is not in the critical path to ensure the submission associated with Stable extension still work as expected.

S

[2021-11-29 17:11] jamesobutler commented on #4644
Yes, a new SlicerStable project is fine with me to be done prior to Slicer5 released. Then Slicer4 can be kept around for some time for debugging when certain things maybe began to fail, and then after awhile when we don't need to look back at the old results, then remove the Slicer4 project.

[2021-11-29 17:11] lassoan commented on #4644
Oh, @jcfr beat me by a few seconds!

I agree with adding a new SlicerStable project.

Why do we need the redirect? CTestConfig.cmake in extensions contain `set(CTEST_DROP_LOCATION "/submit.php?project=Slicer4")` but somehow they submit to SlicerPreview project, too.

[2021-11-29 19:55] lassoan commented on #6038
This is not an easy option to implement with the current design, as the node is immediately changed once interaction starts. If we disengage at any time it is already too late because the node has already changed.

We could save the state of the markup node. Simply saving and restoring a control point position and state may not be sufficient, because the markup node (or any modules that react to m

[2021-11-29 20:07] lassoan commented on #5948
The current implementation is correct and accurate and works well for cases when developers are already familiar with how point position status works. Making the code to alter the returned results (set to (0,0,0) or None) would make it more difficult to access the internal state of the node.

That said, this API is not convenient and may be misleading for developers who do not expect that point po

[2021-11-29 20:24] pieper commented on #6038
I know we've been over this before, but I'll say again that if code is listening and responding to mouse movements then it should just as easily be able to respond to a movement that puts the point back where it was at the start of the action if escape is triggered - no harm in that, it's just one more mouse move.

[2021-11-29 20:32] jamesobutler commented on #5948
Is "restore position" only in place because Markups nodes are not currently supporting the global undo/redo feature? If undo/redo was enabled, then if someone accidentally clears a position they can restore it by pressing "undo"?

![image](https://user-images.githubusercontent.com/15837524/143937975-0e081600-c2e0-4d65-906e-40b9922a70df.png)

Is there a need to maintain point position internally wh

[2021-11-29 21:01] lassoan commented on #6038
When you move the point then not just the position is changed but for example the point normal, the node where that point was picked on, etc. is also be saved. Custom markups may store even more information. If we restore the point position on Escape but none of the additionally collected information that could lead to errors.

[2021-11-29 21:19] pieper commented on #6038
Then any code that relies on such extra information should have an 'OnMoveCanceled' method or similar that resets any of those assumptions.  Or we should finish the undo mechanism and the cancel operation is in effect, 'complete the move and then undo'.

I'm just saying that I agree with @DIV-on-github that the current behavior is non-standard and not user friendly.  The expected behavior is not h

[2021-11-29 23:28] lassoan commented on #6038
I agree that hitting Escape while dragging to cancel an operation can be considered standard, so it would be nice to provide it in Slicer.

Yes, exactly.

We must implement undo for many other reasons, for example, if you realize that you unintentionally moved a point after you release the mouse button then Escape key will not save you. For this reason, instead of introducing an "undo light" mecha

[2021-11-29 23:36] pieper commented on #6038
Fair enough.  I would really like to see undo/redo finally make it into the application as a whole, or at least the most critical portions.

[2021-11-29 23:46] lassoan commented on #6038
There are just a few specific issues that would need to be fixed before we enable undo/redo for markups. Probably not a lot of work, but it would be probably better to work on it after Slicer5 is released.

[2021-11-30 03:55] lassoan commented on #3458
Indeed, Annotations module is deprecated, replaced by Markups module, which does not have this issue, therefore the issue can be closed now.

[2021-11-30 03:55] #3458 closed

[2021-11-30 03:57] lassoan commented on #4676
Indeed, the appearance of the cursor is improved. If further improvements are requested related to this then this issue can be reopened or a new issue can be created.

[2021-11-30 03:57] #4676 closed

[2021-11-30 03:59] #4772 closed

[2021-11-30 20:20] #5913 closed

[2021-11-30 20:21] #5988 closed

[2021-12-01 06:56] jcfr commented on #4644
The setting of drop location when extensions are build is set in [Extensions/CMake/SlicerExtensionsDashboardDriverScript.cmake](https://github.com/Slicer/Slicer/blob/3c362e0e589afda0bed2ab1164d52ccd760c09af/Extensions/CMake/SlicerExtensionsDashboardDriverScript.cmake#L327-L335), currently the project is hardcoded to `Slicer4` for stable extensions.

[2021-12-02 05:50] lassoan commented on #5616
@fbordignon provided a partial solution in https://github.com/Slicer/Slicer/pull/5619, but there was a huge issue with that approach that it relied on a single global shortcut for all Slicer install trees of the same version.

An alternative solution, which fulfills the same requirements but does not need a global shortcut is the following:

1. Update the [CTK application launcher](https://github.

[2021-12-02 14:15] fbordignon commented on #5616
Thanks for the deep look into this issue. Indeed it is a bit more complicated.
I can confirm that pinning the running app generates a shortcut with the AUMID set, but it links to the SlicerApp-real.exe, which should be fixed by setting the relaunch command as described.
The unique AUMID is a good catch/idea as well, I am not a fan of passing things as environment variables. Is it too complicated t

[2021-12-02 14:39] lassoan commented on #5616
I'm not a fan in general either, but this is a special case, because the launcher already sets environment variables extensively and has features such as storing the entire previous environment and able to recover the previous environment, so we don't pollute the environment by passing parameters like this (e.g., if the launched process uses a launcher then the previous value of the aumid environm

[2021-12-02 15:48] jamesobutler commented on #4906
I've begun to investigate and have started with issuing https://github.com/Slicer/apidocs.slicer.org/pull/1

[2021-12-02 16:34] jcfr commented on #4906
Thanks @jamesobutler  I created an issue with some suggestion to move forward: https://github.com/Slicer/apidocs.slicer.org/issues/2

[2021-12-02 16:56] fbordignon commented on #5616
I've just noticed this Note at [the docs](https://docs.microsoft.com/en-us/windows/win32/shell/appids?redirectedfrom=MSDN#where-to-assign-an-appusermodelid):

I did some testing and it seems that if there is a shortcut installed for the app, the taskbar uses the shortcut's AUMID and command to launch the app instead of the current executable. As it is described above.
Hence, if we install the shor

[2021-12-02 16:59] lassoan commented on #5616
Yes, this is why pinning works nicely with the method in your pull request. However, it makes the application non-portable (non-relocatable) and does not work if you have the same Slicer version installed or copied to multiple locations on the same computer.

[2021-12-02 19:47] Sunderlandkyl commented on #5061
The Markups ROI node currently has options for getting the inside-out planes:
https://github.com/Slicer/Slicer/blob/840e67574758e456c01c08a97b7b13926dff6429/Modules/Loadable/Markups/MRML/vtkMRMLMarkupsROINode.h#L182-L187

I don't see a trivial way to add this to volume rendering. Is there an example somewhere?

[2021-12-02 19:56] jcfr commented on #4906
Error related to `slicer-apidocs-builder` is now fixed in https://github.com/Slicer/slicer-apidocs-builder/pull/1

![image](https://user-images.githubusercontent.com/219043/144493516-0039b3c1-1306-40f1-9af9-362dfb19dbf7.png)

References:
* https://app.circleci.com/pipelines/github/Slicer/apidocs.slicer.org/2410/workflows/541afa8b-4645-4e76-8391-d86ce05cd28b/jobs/6740

[2021-12-02 20:22] lassoan commented on #5061
The end goal would be to be able to specify for volume rendering to keep or remove what is inside the ROI.

We do what vtkMRMLAnnotationROINode::GetTransformedPlanes did - invert plane normals depending on its inside-out flag. But probably making the volume rendering module call `markupsROI->GetPlanes(planes, markupsROI->GetInsideOut());` would be better, because that is applicable to all ROI shap

[2021-12-03 00:06] jcfr commented on #4906
Closing. Documentation is not updated.
See https://apidocs.slicer.org/master/index.html

[code]

[2021-12-03 00:06] #4906 closed

[2021-12-03 00:38] jamesobutler commented on #4906
Great! I’m glad it was able to be fixed with fairly little effort. Agreed on improving the api generation process as mentioned in https://github.com/Slicer/apidocs.slicer.org/issues/2.

[2021-12-03 01:10] lassoan commented on #4906
Awesome! Thank you both for working on this.

[2021-12-03 04:16] #4644 closed

[2021-12-03 04:18] jcfr opened #6063 "Delete Slicer4 CDash project"
See https://github.com/Slicer/Slicer/issues/4644

[2021-12-03 15:12] jcfr opened #6065 "Support installing Slicer through Apple App Store"
_This issue was created following discussion with @rkikinis. This issue will serve as documentation and placeholder for developers looking into addressing this_

## Is your feature request related to a problem? Please describe.

Apple users are expecting application to be available on the App Store

## Describe the solution you'd like

Searching for `3D Slicer` or `Slicer` on the app store should

[2021-12-03 15:15] jcfr commented on #6065
As of 2021.12.03, the section `2.5 Software Requirements`  of the [guidelines](https://developer.apple.com/app-store/review/guidelines/) indicates the following:

For this reason, until we reach out to an Apple representative to further clarify or ask for an exemption, I am closing the issue.

[2021-12-03 15:55] lassoan commented on #6065
Does Chrome browser available on the Apple App Store? Can it install plugins?

[2021-12-03 16:02] lassoan commented on #6065
It seems that the limitation is only for **automatically** downloaded content. If the plugin install is a user action then it should be fine. There are apparently many applications with plugins infrastructure.

https://stackoverflow.com/questions/5319982/mac-app-store-and-plugins

[2021-12-03 16:07] lassoan commented on #6065
I don't think we can close this issue, because it should be addressed. I just move it to the backlog.

[2021-12-03 16:08] lassoan commented on #6065
By the way, Slicer on the appstore makes sense even if enabling the extension manager requires extra work. We could bundle the 10-15 most frequently used extensions (or even all extensions except the large or complicated ones).

[2021-12-04 17:22] maxfaxsurgeon opened #6069 "how to solve the problem of Model To Model Distance that terminates with faliure?"
[Hi all dear colleagues, I want to ask regarding a technical issue of 3D Slicer:

I am doing a research in regard to stability studying of fixation tools in maxillofacial skeleton by  doing  superimposition of  T1 (immediate postop) and T2 (6 months postop) using Dolphin software and then using 3D Slicer to do measurements of any displacement:

I had two problems:
1. when I do processing the two m

[2021-12-05 02:18] rkalahasty commented on #5830
Would you mind if I tackle this issue?

[2021-12-05 02:32] lassoan commented on #5830
That would be AMAZING! Let us know how we could help - brainstorming about potential designs, review your plan, solving any specific problems, etc.

[2021-12-05 02:34] jcfr commented on #5830
Ditto. Thanks so much for looking into this 💯

[2021-12-05 03:08] rkalahasty commented on #5830
Thanks! Could you provide me with sufficient permissions to create a repository under the Slicer Organization?

[2021-12-05 03:18] jcfr commented on #5830
After we decide on a name, we will create it and grant you maintainer/admin  access. How does tha sound ?

[2021-12-05 03:23] jcfr commented on #5830
The name  `SlicerRegistrationLibrary` registration library would be sensible.

Moving forward, let also think about the future home of these associated pages:

-  Slicer Registration FAQ: answers to the most common questions/problems, including cookbook recipes for common registration steps.

- Slicer Registration Training Videos: brief videos/screencasts showing step-by-step approaches to the mos

[2021-12-05 03:34] jamesobutler commented on #5830
An example of how this documentation may look like is https://lassoan.github.io/SlicerSegmentationRecipes/? The example being Segmentation recipes while this documentation is about Registration recipes.

Should these workflows (Registration, Segmentation) of multiple Slicer modules be detailed at https://slicer.readthedocs.io/en/latest/? Or maintained in separate repo? Is there a reason why it wou

[2021-12-05 03:36] rkalahasty commented on #5830
Sounds good!

[2021-12-05 04:24] lassoan commented on #5830
If the content is independent from Slicer versions, such as data sets, registration parameters, etc. then it is more appropriate to maintain it independently from the main Slicer repository. It  would allow every Slicer versions to refer to the latest version of the case library, allow some automation in updates and output generation, etc. without making the Slicer build more complicated.

If we c

[2021-12-05 05:29] jcfr commented on #5830
To move forward, a new repository called [Slicer/SlicerRegistrationLibrary](https://github.com/Slicer/SlicerRegistrationLibrary) has been created and @rkalahasty has been granted maintainer access.

![image](https://user-images.githubusercontent.com/219043/144734881-ef4c57fc-41ff-4da5-b7db-c8566911d5f8.png)

[2021-12-05 05:42] jcfr commented on #5830
@rkalahasty

One approach to convert the wiki page to markdown could be to try [clipboardtomarkdown](https://euangoddard.github.io/clipboard2markdown/) or copying to a draft [Slicer discourse](https://discourse.slicer.org/) post.

## Experiment

Here is an experiment I did few weeks ago in the context of a different project:

| using  [clipboard2markdown](https://euangoddard.github.io/clipboard2ma

[2021-12-05 14:53] lassoan commented on #5830
These look nice!How do you plan to deal with images? MediaWiki automatically creates images with different resolution and you can also set image size explicitly. It would be nice somehow replicate this (keep full-resolution images but show small thumbnails in the list on the frontpage).

[2021-12-05 17:43] pieper commented on #6069
For now this is being [discussed on discourse](https://discourse.slicer.org/t/modeltomodel-distance-module-is-not-working-properly/20907/9).  If there's a specific bug in the core either reopen this or start new issues with one topic per github issue to facilitate tracking.

[2021-12-05 17:43] #6069 closed

[2021-12-06 23:54] #4989 closed

[2021-12-07 00:01] lassoan commented on #5912
@smrolfe what do you think?

[2021-12-07 00:15] lassoan commented on #5367
@jcfr could you update the logo in the [Github Slicer organization](https://github.com/Slicer)? I've checked and I don't have access to that.

I think all the other usages of the logo are either very low priority or very complicated to change. So, if we update the logo in the Github Slicer organization then we can close this issue for 4.13 (and can create new issues for updating the icon on wikipe

[2021-12-07 13:05] pieper commented on #5367
I was able to update it.

[2021-12-07 13:12] lassoan opened #6071 "Update Slicer icon on Facebook"
The new Slicer5 logo has been rolled out in 2021 Fall. Accordingly, the Slicer logo need to be updated at https://www.facebook.com/pages/3DSlicer/103767359661291

[2021-12-07 13:12] lassoan opened #6072 "Update Slicer icon on Wikipedia"
The new Slicer5 logo has been rolled out in 2021 Fall. Accordingly, the Slicer logo need to be updated at https://en.wikipedia.org/wiki/3DSlicer

[2021-12-07 13:18] lassoan commented on #5367
Thank you! I've added separate tickets for tracking icon updates on Wikipedia and Facebook and the rest of the updates are low priority (the icon will eventually be updated as side effects of updates), so we can close this issue now.

[2021-12-07 13:18] #5367 closed

[2021-12-07 13:30] pieper commented on #6072
I tried editing the wikipedia page, but the image upload was disallowed by some automated filter.  I filed an issue so we'll see what happens.

[2021-12-07 13:33] jamesobutler commented on #5180
Here's what 1/3/5/10% glyph size looks on my standard 15" laptop with 1080p resolution and Windows default 125% scaling with this configuration.
![image](https://user-images.githubusercontent.com/15837524/145038260-7a203d10-58d6-40f6-b607-96ba05b79638.png)

[2021-12-07 16:41] jamesobutler commented on #3128
@lassoan Can you take a look based on the latest here?

[2021-12-08 17:27] ebrahimebrahim opened #6074 "Support exporting multiple nodes in one batch"
We should be able to export multiple nodes with a couple of clicks in the Data module.

This issue can be assigned to me.

## Describe the solution you'd like

- A variation of the "Export to file..." context menu item should be available when right clicking on a folder. This could export all nodes nested under the folder, if they have the same type.
- Perhaps also: right clicking after selecting

[2021-12-08 20:33] lassoan commented on #6074
Option (a) sounds good to me. You would replace the filename selector by a folder selector.
Also add an option to recreate the subject hierarchy folder structure as file folder structure (it can prevent name clashes).

I feel all the options unnecessarily inconvenient for the user. This feature is so useful and powerful that it would be a pity if having some extra node in a folder would interfere

[2021-12-09 21:18] #3128 closed

[2021-12-09 21:31] jcfr commented on #6071
The page was created on March 27, 2017 but I can't find reference of the original page creator.

Few days ago, I suggested an edit (https://slicer.org instead of http://slicer.org) but it hasn't been accepted yet.

If we can't find the maintainer, we could probably created a new page called `3D Slicer` (with a space) and report the existing on as duplicate.

[2021-12-10 03:14] DIV-on-github opened #6078 "ENH: Allow use of Home and End keys to go to top/end of a list"
## Is your feature request related to a problem? Please describe.

Many other software applications allow use of `Home` and `End` keys to go to top/end of a list.
Such a list is the DICOM database, where arrow up/down keys and page up/down keys work, but `Home` and `End` keys do nothing (version 4.13.0 preview).

## Describe the solution you'd like
Allow use of `Home` and `End` keys to go to top/e

[2021-12-13 14:47] bhs67 opened #6079 "Allow us to enter a path to place all files."
The Pursa Slicer Printer Setting files should be placed in the location of our choosing.  This can be accomplished by allowing us to enter a path to all of our unique files.

All of my unique files are on the D: drive (Excel files, Word files, Visual Studio code files, etc).

I periodically backup all of my unique files.  If the C: drive crashed, or if the laptop is stolen, it would be easy to ret

[2021-12-13 14:50] lassoan commented on #6079
This is the bugtracker of www.slicer.org medical image analysis software.

[2021-12-13 14:50] #6079 closed

[2021-12-13 14:53] bhs67 commented on #6079
Where should I place this request?

[2021-12-13 14:58] jamesobutler commented on #6079
Hi @bhs67 unfortunately you have posted to the wrong repository. You are looking for https://github.com/prusa3d/PrusaSlicer. This is a repo for https://www.slicer.org/.

[2021-12-13 15:04] bhs67 commented on #6079
Sorry.  I was referred to this site by Prusa Support.  Thanks for the prompt responses!

[2021-12-14 13:45] pieper commented on #6072
Here's [the response](https://commons.wikimedia.org/wiki/Commons_talk:Abuse_filter#c-Jeff_G.-2021-12-07T13%3A36%3A00.000Z-Pieper923-2021-12-07T13%3A28%3A00.000Z) I got from wikipedia.  Looks like some extra steps need to be taken to register the logo with them.

Report by Pieper923
Report by: Pieper923 (talk • contribs • block log • filter log)
Page name: https://en.wikipedia.org/wiki/3D_Slicer (h

[2021-12-14 16:14] jcfr commented on #5525
Since we will soon release Slicer 5 and the original issue has been fixed in https://github.com/Slicer/Slicer/pull/5524/commits/e72d3e875995866d571cd3f6907aed697b020fb4, we will not spend time to address this.

[2021-12-14 16:14] #5525 closed

[2021-12-14 16:30] sjh26 commented on #5251
Additional instructions added to installation: https://slicer.readthedocs.io/en/latest/user_guide/getting_started.html#linux to help address this.

Additional options for communicating install instructions:

- Add check to launcher
    - Detect failed start and show message
- **Add text / warning to download.slicer.org for linux**

[2021-12-14 16:43] sjh26 commented on #5753
@sjh26 Discuss with Shreeraj

[2021-12-14 17:09] jcfr commented on #5470
@lassoan  Here is the how list of extension for a given revision/arch/os could be retrieved:

[code]

Metadata are collected within the same call.

[2021-12-15 01:30] #5918 closed

[2021-12-15 17:25] jmcox9 opened #6083 "Transformed Volumes Not Showing when Rendered with VTK GPU Ray Casting"
There is an issue with certain transformable volumes being accounted for in the Transforms module when a particular rendering style is selected for those volumes in the Volume Rendering module.

## Steps to reproduce

After applying a centering transform to an eligible volume in the Volumes module, switching to the Transforms module and selecting “volume name” centering transform does not display

[2021-12-21 18:14] dwijmistry11 opened #6089 "Rename markup node update issue"
When we are creating **Point List** Markup it create node with some name. after marking it on a segment when we are renaming node it is not updating name in the views.

## Steps to reproduce
#### 1 ) Create segment
#### 2) open Markup module
#### 3) Select Point List
#### 4) mark it on view
#### 5) rename that point in Node

## Expected behavior

### When we are renaming point in Node window it sh

[2021-12-21 18:38] jamesobutler commented on #6089
Are you looking for the "Apply" button in the advanced section of the control points section of the Markups module. If you change the node name and want that to be applied to all the labels you would click that button. Below is images of the UI with that Apply button and also the python example usage of the same thing.

[code]
![image](https://user-images.githubusercontent.com/15837524/146981375-8

[2021-12-21 22:53] jcfr opened #6090 "Infrastucture to streamline documentation of Slicer extensions"
## Is your feature request related to a problem? Please describe.

The steps to document an extension and associated modules are not streamlined.
This leads to either a lack of documentation, an inconsistent documentation or an outdated documentation.

The extension templates (see [1] and [2]) enables developer to quickly get started.
Additionally, the information in the Extension developer guide

[2021-12-21 23:54] lassoan commented on #6090
Extensions would need to be built using github actions anyway (for automated testing). Documentation generation could be part of this process and it could be published on readthedocs the same way as Slicer core does it. This would allow extension developers to see how readthedocs renders their documentation.

The extension documentation could be compiled into a single project during nightly build

[2021-12-22 13:22] jamesobutler commented on #5014
Not that it changes anything immediately, but

Python 3.6 goes End-Of-Life tomorrow (Dec 23rd 2021). https://endoflife.date/python

[2021-12-22 13:39] fbordignon commented on #5014
Thanks for the reminder.
We (LTrace) are putting python 3.9.9 in production on GeoSlicer for the next version due in 3 weeks as we found no issues with the current PR and our users need it desperately. Some libs we are working with does not support 3.6 anymore (pyqtgraph) and others never supported it (porespy despite having a wheel for any version in pypi).

[2021-12-22 19:48] ebrahimebrahim commented on #6074
Follow up question: if the entire hierarchy is traversed for export, then do we want to recreate the hierarchy as a directory structure on the device? Or do we flatten the hierarchy, exporting each file to the target directory? Or have a checkbox to toggle between the two behaviors?

@smrolfe @muratmaga would be good to also hear from the SlicerMorph folks about this, since they have experience wi

[2021-12-22 19:53] ebrahimebrahim commented on #6074
@lassoan Where in the application should such a checkbox go?

[2021-12-22 21:41] ebrahimebrahim commented on #6074
@lassoan Looking over handling of multiple selection in these implementations, it is looking like I have to exit the "plugin" framework to be able to work with multiple selection. Is this correct? Should I give up the plugin framework and populate the export context menu action within `qMRMLSubjectHierarchyTreeView` directly like it does for "toggle visibility" and "delete"?

I don't see a way aro

[2021-12-22 21:43] muratmaga commented on #6074
We only used a single level of hierarchy, nothing more complicated than that. It is something like one folder level for models, one for volumes, one for labelmaps etc...

[2021-12-23 05:31] lassoan commented on #6074
Good point. For supporting multi-selection for context menu, we would need some infrastructure development (to be able to pass a list of IDs to subject hierarchy plugins in `qSlicerSubjectHierarchyRegisterPlugin::showContextMenuActionsForItem(vtkIdType itemID)`. Since this would be substantial work, and probably not used as often (because selecting multiple nodes in a tree is somewhat tedious), it

[2021-12-23 12:22] lassoan commented on #5014
@jcfr is there anything that you would like to implement or test before integrating this?

[2021-12-23 15:43] jcfr commented on #5014
* Packaging of Slicer on our three platforms
* Updated CI (GitHub action) on python-cmake-buildsystem

[2021-12-23 16:24] jamesobutler commented on #6089
@dwijmistry11 If you have issues using Slicer and need to ask if something might be a bug or if you're missing an existing functionality you can use the Slicer forum (https://discourse.slicer.org/) for help.

Closing this issue now as it does not appear there is an actual bug that needs addressing here.

[2021-12-23 16:24] #6089 closed

[2021-12-23 17:08] jamesobutler commented on #6078
With Qt widgets it appears those with text input utilize `Home` and `End` to go to the beginning of the line and end of the line respectively. However, for table lists to go to the top and bottom you have to use `Ctrl+Home` and `Ctrl+End`. This being the same type behavior you would observe when using say Microsoft Word.

`Home`
![image](https://user-images.githubusercontent.com/15837524/147268193

[2021-12-23 19:38] MohHu opened #6092 "Cropping image by 3D slicer"
Dear developer,

I am using 3D slicer for cropping CT image. It works fine. When I display cropped images in 3D slicer GUI, there is no problem, but when I imported image to another software, the image is reversed. So the superior becomes interior and vise versa.

Is there any suggestion to solve this problem?

Yours sincerely

[2021-12-23 19:58] lassoan commented on #6092
There are many equivalent mappings between voxel space and physical space. The other software assumes a certain mapping instead of reading the actual mapping from the image header. If you need further information or help please post to the [Slicer forum](https://discourse.slicer.org/), describing your overall goal and providing more details about the software you are trying to use.

[2021-12-23 19:58] #6092 closed

[2021-12-24 13:09] reena4jan opened #6093 "To run Slicer"
How to set this i am not understand this part

Run CMake (cmake-gui) from the Windows Start menu
Set Where is the source code to <Slicer_SOURCE> location
Set Where to build the binaries to <Slicer_BUILD> location. Do not configure yet!
 Qt5_DIR variable pointing to Qt5 folder: click Add entry button, set Name to Qt5_DIR, set Type to PATH, and set Value to the Qt5 folder, such as C:\Qt\5.15.2\msvc2

[2021-12-25 04:25] reena4jan commented on #6093
I am not resolve this issue...Please let me know

CMake Warning (dev) in CMakeLists.txt:
  No project() command is present.  The top-level CMakeLists.txt file must
  contain a literal, direct call to the project() command.  Add a line of
  code such as

    project(ProjectName)

  near the top of the file, but after cmake_minimum_required().

  CMake is pretending there is a "project(Project)" com

[2021-12-28 14:33] davide445 opened #6095 "Unable to volume render on AMD gpu in Windows if resolution greather than 2048 or size greather than VRAM"
Following the testing done in this thread
[https://discourse.slicer.org/t/better-gpu-will-benefit-or-not-vr-volume-rendering/ ](https://discourse.slicer.org/t/better-gpu-will-benefit-or-not-vr-volume-rendering/ )
on a RX 6900 XT on Windows and 6700 XT on Linux seems
- Windows driver report GL_MAX_3D_TEXTURE_SIZE = 2048 even if on Linux this is reported to 8192
- if one of the volume size exceed 20

[2021-12-28 14:38] jamesobutler commented on #6095
@davide445 Have you confirmed this issue using the latest Slicer Preview release per [this comment](https://discourse.slicer.org/t/better-gpu-will-benefit-or-not-vr-volume-rendering/21008/64)? Latest Slicer Preview is currently revision 30513. If you haven’t, please try testing with that and report back. That will let us know if the issue is still happening with the latest code or is only an issue

[2021-12-28 15:17] lassoan commented on #6095
It is interesting to know about these issues but we cannot do much about hardware and driver limitations.

If a driver reports smaller texture size than what you expect then report it to the developer of driver.

If the capabilities of driver suggest that the rendering should work and it does not then create a minimal reproducible example using just VTK (probably any of the VTK volume rendering ex

[2021-12-28 17:50] davide445 commented on #6095
@jamesobutler Asked in the forum for help testing on latest Preview Release since I didn't have so far an AMD GPU on my Windows PC (have a RX 550 on a Linux PC cannot remove from, have had an old AMD GPU I sold last year, interested to purchase a new one).
Being the maintainers didn't you have any AMD GPU to test on?
Since you are working on the code, some ideas
-  if this make sense can you try t

[2021-12-28 20:00] lassoan commented on #6095
Most maintainers work in research and development or clinical groups. In these environments computing hardware cost does not matter. Funding sources are typically not interested in spending money on testing more (and fixing issues) with slighly cheaper hardware either. In general, everybody who is involved is happy if things work well with Nvidia and there is not a lot of interest in AMD.

Some VT

[2021-12-29 07:50] davide445 commented on #6095
Can't understand the reasoning, due the fact the VRAM problem it's not present on Nvidia cards. So either is 3d Slicer (your option to investigate) or AMD drivers (have contacted them to understand on the topic) there is evidence it's not a problem to manage bigger than VRAM volumes on this very same platform.

[2021-12-29 13:46] lassoan commented on #6095
I would expect that running out of VRAM is handled similarly to running out of main RAM: either by falling back to using slower memory (keeping applications running and sacrificing performance); or by making those commands fail that require too much memory. It is up to the driver to decide when to make a command fail and it is up to VTK (or maybe even the application) to detect and handle command

[2021-12-30 02:26] pieper commented on #6095
@davide445 thanks for digging in and looking for the root causes of unexpected behavior.  As @lassoan says, it's best to isolate where the issue occurs and help the developers fix if they can.  The first step is to isolate what can be reproduced in pure VTK code (not relying on Slicer).  You can review [this thread](https://discourse.slicer.org/t/trying-to-diagnose-an-issue-with-virtualgl-and-slic

[2021-12-30 23:38] jcfr opened #6096 "Support configuring Slicer from a source archive"
## Is your feature request related to a problem? Please describe.

Attempting to build Slicer from an archive of the source (instead of git repository) will fail with the following error:

[code]

reported by checks implemented in https://github.com/Slicer/Slicer/blob/3de75b9c4c6f3ee9a1e5da17059b9f11517e16ab/CMake/SlicerConfigureVersionHeaderTarget.cmake#L129-L151

## Describe the solution you'd l

[2022-01-01 17:41] brandus1 commented on #5944
I confirm that the last Slicer version successfully compiles on apple m1 only with OpenSSL built outside of Slicer (configured for darwin x86_64) and SimpleITK disabled.

These relevant flags should be:

`
-DCMAKE_OSX_ARCHITECTURES:STRING=x86_64
-DCMAKE_OSX_DEPLOYMENT_TARGET:STRING=12.1
-DSlicer_USE_SYSTEM_OpenSSL:BOOL=ON
-DSlicer_USE_SimpleITK:BOOL=OFF
~/Slicer
`

I think the issue is the configu

[2022-01-03 11:02] davide445 commented on #6095
@lassoan @pieper
I'm not an OpenGL dev, will try my best anyway to get some answer on VTK forum.
I think you will be able to get one much faster than me, considering it's a known and general issue.

Understand the priority given to NV hardware and for sure research projects will get more funding from NV also, but still as far as I know AMD it's really present on research and open source (never hea

[2022-01-03 13:23] lassoan commented on #6095
Thank you for your efforts. Many users would appreciate better AMD support.

We see very significant open-source investment from Nvidia into the MONAI open-source community. AMD might do more open-source overall, but Nvidia seems to be OK, too.

MacOS graphics support has been quite limited/opinionated in recent years, so many mac users switch to Linux when they need strong graphics or GPU process

[2022-01-04 12:14] ebrahimebrahim opened #6098 "Adding volume by class name produces warnings"
Adding a volume node using `vtkMRMLScene::AddNewNodeByClass` causes some warnings related to vtk filters not getting their expected connections; for example:

[code]

The actual collection of warning messages seems to be inconsistent.

## Steps to reproduce

Launch Slicer and put this in python console:
[code]

## Environment
- Operating system: Ubuntu 20.04
- Slicer version: Slicer-4.13.0-2022-01

[2022-01-04 12:29] ebrahimebrahim opened #6099 "Memory leak when creating default storage node"
Creating a default storage node from the python console seems to cause a memory leak. Upon exit we get

[code]

## Steps to reproduce

Launch Slicer, create a storable node, and then use the python console to call `CreateDefaultStorageNode` on it. Exit.

e.g.

[code]

results in

[code]

and

[code]

results in

[code]

## Environment
- Operating system: Ubuntu 20.04
- Slicer version: current mast

[2022-01-04 12:58] Connor-Bowley commented on #6099
Most of the MRML nodes create the node using `vtkMRMLScene::CreateNodeByClass` which does not add the new object to the mrml scene (like `AddNewNodeByClass` does). You can prevent this vtkDebugLeak by doing the following

[code]

[2022-01-04 13:06] Connor-Bowley commented on #6099
Note also that if you return a raw owning pointer from C++ to Python, you I not found a good way to delete the pointer. With VTK objects you can use UnRegister and if it is the last reference it will delete the memory, but if you have a non-VTK object, you can run into memory leaks.

[2022-01-04 13:45] RafaelPalomar opened #6100 "Failing to build Slicer VTK with GCC/G++ 11 (numeric_limits not a member of std)"
Building 3D Slicer with gcc/g++-11.2.0 fails on building VTK step with the following errors:

[code]

This seems to have been corrected already in VTK (https://gitlab.kitware.com/vtk/vtk/-/issues/18194)

## Steps to reproduce

1.Install gcc/g++ 11.2.0 and set the corresponding variables in Slicer (CMAKE_CXX_COMPILER and CMAKE_C_COMPILER)
2. Build Slicer

## Expected behavior

Slicer should complet

[2022-01-04 15:08] RafaelPalomar commented on #6100
Slicer/vtk@baf58b886625d4696b5b60b494905d8b7b423f8a (slicer-v9.1.20211022-1172cdd2e) includes the patch that solves the issue. @jcfr  is Slicer VTK expected to be bumped to v9.1 anytime soon?

[2022-01-04 16:53] jcfr commented on #6100
Currently working on updating python to 3.9 (at https://github.com/python-cmake-buildsystem/python-cmake-buildsystem), then will finalize VTK updates. I expect this to be completed on the next two weeks.

[2022-01-04 16:59] RafaelPalomar commented on #6100
Thank you, @jcfr for the quick reply. I'm currently testing this VTK version with the Python 3.9 PR, which I need to build on cutting-edge Linux distros. Let me know if any help is needed to make this happen.

[2022-01-05 13:37] Connor-Bowley opened #6101 "CLI Module outputting multiple geometry has output node deleted"
As part of the CLI XML Schema, one can specify an output parameter of `geometry` with `multiple` and the undocumented `aggregate` parameters set to true. This will require the user to set a `vtkMRMLModelHierarchyNode` for that parameter. After the CLI module is run, the original `vtkMRMLModelHierarchyNode` will be deleted and there will be a subject hierarchy folder that contains the models.

Whil

[2022-01-05 14:33] lassoan commented on #6101
Thanks for reporting this. We should switch to using a subject hierarchy combobox to select a subject hierarchy folder and update the rest of the CLI infrastructure accordingly.

[2022-01-05 16:29] lassoan opened #6102 "Segmentation may be cropped when saved"
If some parts of segments fall outside of the reference geometry then the segmentation is cropped (information is lost) without warning.

Originally the error was reported here: https://discourse.slicer.org/t/editing-segmentation-of-model-and-saving-it/21338

## Steps to reproduce

- Load this segmentation: https://1drv.ms/u/s!Arm_AFxB9yqHx-FOPAelcgsOIud1qA?e=Zz7wZ7
- Save the segmentation with de

[2022-01-05 16:38] lassoan commented on #6102
This is high priority because data may be lost without the user noticing, so it has to be fixed before Slicer5 is released within a few weeks.

[2022-01-05 22:53] jamesobutler opened #6103 "Double-left-click to apply draw effect no longer working"
Double-left-click to apply points placed using the draw effect is no longer working. Instead it is just maximizing/restoring the slice view.
![image](https://user-images.githubusercontent.com/15837524/148300834-240ad4c8-ba9c-4ff9-966d-7261525af009.png)

Working correctly ✔️ : Slicer-4.13.0-2021-10-19 -> repository revision https://github.com/Slicer/Slicer/commit/11d0ca30162e9fd0315997dd41908354376

[2022-01-05 23:45] #6103 closed

[2022-01-05 23:46] lassoan commented on #6103
@jamesobutler thanks for reporting, fix pushed, please test.

[2022-01-06 19:56] jamesobutler commented on #6103
Thanks! I have confirmed this fixes the reported issue.

[2022-01-07 01:40] #6102 closed

[2022-01-10 17:43] MathieuLeclercq opened #6106 "Cannot run other python environment from Slicer Python"
Hello,
I am developing an extension for Slicer that offers a GUI for runnning 3D  surface segmentation. The GUI and the segmentation algorithm both work fine separately, but I need to call my own python environment in the extension code to start the process automatically. The idea is to execute in a scripted cli module a command with os.system() that runs the segmentation program in the right envi

[2022-01-10 17:53] lassoan commented on #6106
By default if executables are run in Slicer's environment. You can run a process in the system environment (the environment that Slicer has started in) as shown here: https://slicer.readthedocs.io/en/latest/developer_guide/script_repository.html#launch-external-process-in-startup-environment

To allow more community members to help out and reduce noise in the issue tracker, in the future please as

[2022-01-10 17:53] #6106 closed

[2022-01-10 18:04] lassoan commented on #6106
If something is not clear, does not work, or if the suggested solution is not ideal (e.g., you may need to add a "wrapper script", which Slicer calls that executes the real script in the system environment and you would want instead a single script that is directly run in the system environment) then write on the Slicer forum. Thank you.

[2022-01-10 19:34] ebrahimebrahim commented on #6074
@jcfr @lassoan This can be moved back to the Slicer 4.13.0 milestone. I think I'll have it ready very soon.

[2022-01-11 04:54] lassoan commented on #6074
Sounds great! Looking forward to the pull request.

[2022-01-14 19:49] lassoan opened #6111 "Improve color legend"
## Is your feature request related to a problem? Please describe.

Color legend (scalar bar, color bar) feature was completely reworked in [Slicer Preview Release 2022-01-15](https://github.com/Slicer/Slicer/pull/5828/commits/170a0e0edd448fd2c5d8e47ac6de591293fc8354). This issue tracks improvement ideas of this feature:

- [ ] BUG: Built-in procedural color nodes (such as PET-DICOM) should not be

[2022-01-15 10:06] chir-set opened #6113 "Color legend : click on collapsible button leads to a crash if there is no volume node"
Start Slicer
Go to Volumes module
Don't do anything else
Click on the 'Color legend' collapsible button
-> crash

## Environment
- Slicer version: Slicer-4.13.0-2022-01-15
- Operating system: Linux

### Backtrace :

[code]

[2022-01-15 17:07] lassoan commented on #6113
Thanks for reporting this. You need to choose a volume to show color legend for it. But of course we need to fix the crash (need to disable the section until a volume is selected).

[2022-01-16 06:23] #6113 closed

[2022-01-17 21:05] sjh26 commented on #5180
Do we have a consensus for the default size?  I want to get this closed out, so unless anyone has a complaint, I will set it to 5% and close.

[2022-01-17 21:07] sjh26 commented on #5251
I will add the link to the download site, and then close.  Will create a new issue for adding the check to the launcher.

[2022-01-17 21:12] sjh26 commented on #3169
- [ ] Update the Documentation/Versioncheck template to point to readthedocs

[2022-01-17 21:14] jamesobutler commented on #5180
5% seems pretty large for 1080p. I think there is just an issue with regular vs high DPI screens and there isn't one size that works well for all here.

[2022-01-17 21:15] jamesobutler commented on #5180
The 5% shown in https://github.com/Slicer/Slicer/issues/5180#issuecomment-689728102 looks different from the 5% shown in https://github.com/Slicer/Slicer/issues/5180#issuecomment-987930147.

[2022-01-17 21:40] lassoan commented on #5180
I think 3% is acceptable on both hi-dpi and regular screens.

The % value should be relative to the screen (or view, I don't remember), so maybe there is an issue with the computation. The best would be to investigate this before choosing a final scaling value.

[2022-01-18 04:08] Bugsbunny2917 commented on #5014
Hello sir, i'm working in firm where we were using 3D Slicer, some libraries requires Python 3.9, if you would send the updated slicer, we can use that also we can tested it. It would be our great pleasure to contribute to it.

[2022-01-18 11:33] fbordignon commented on #5014
@Bugsbunny2917 you can build 3D Slicer from the branch of https://github.com/Slicer/Slicer/pull/6026
It is working with python 3.9.9 and should be integrated soon.

[2022-01-18 15:53] jcfr commented on #4792
from @cpinter

[2022-01-18 15:54] cpinter commented on #4792
Thanks for copying it over! For the record this is the paper
https://www.sciencedirect.com/science/article/abs/pii/S0169260718313038

[2022-01-18 17:15] li4mm4rtin opened #6116 "Slicer Failing to Load Ultrasounds on Different Machines"
I am having trouble opening ultrasounds on a windows machine but have no problems on a Mac. Both machines are running 4.11. When I try to load the file on windows I get the error "error occurred while loading selected files" and the log file that was placed below. Let me know if anyone has any ideas on how to fix this error.

[FailedLoad.log](https://github.com/Slicer/Slicer/files/7891032/FailedLo

[2022-01-18 19:40] pieper commented on #6116
The log says things like file not found and bad file format.  So there's something wrong with your data.  Please post to discourse.slicer.org with any specific questions and share the data if you can.

[2022-01-18 19:40] #6116 closed

[2022-01-19 21:18] #3169 closed

[2022-01-19 21:34] sjh26 commented on #5797
Remaining occurrences:
- legacy support for Midas in the extension manager code
- extension build tests

[2022-01-20 21:27] sjh26 commented on #5908
@jcfr will this be an issue with the upcoming Slicer 5 stable?

[2022-01-21 06:15] DIV-on-github commented on #5290
In the **Segment Editor** module:  "_At the moment, I keep on clicking the icon to see another segment for reference, and start accidentally editing that one instead of the one I want to change._"  Me too — as per https://discourse.slicer.org/t/segment-editor-clicking-eye-to-toggle-visibility-should-not-select-segment/20237 .

There's a slightly different (but related) effect that I am not so fond

[2022-01-21 12:53] pieper commented on #5290
FWIW, I find that behavior very useful - I almost always want to enable and display in one click, adjust the ROI, then make the ROI invisible.  I didn't implement the feature so I'm not defending my own decision it's just that I've always found it useful since it was first introduced.

[2022-01-21 18:37] lassoan commented on #5290
I did not implent the current behavior of ROI display show either, but I find it really convenient. When I enable cropping the first time I always need to display the ROI. Hiding the ROI must not disable cropping, because the ROI very often needs to be hidden (to declutter the view), while the cropping still should be applied. So, the current behavior is exactly what I need. Can you describe your

[2022-01-21 19:09] sjh26 commented on #4933
Fixed: https://github.com/Slicer/DashboardScripts/commit/c9879876ed337c3c908895628430daf30e7a221a

[2022-01-21 19:09] #4933 closed

[2022-01-21 19:14] jamesobutler commented on #5916
Appears that there are several screenshots to update here as it relates to the new Markups toolbar that will be needed prior to stable release.

[2022-01-21 19:24] smrolfe commented on #5912
Thanks! I missed this. I will be able to look at it early next week.

[2022-01-22 07:59] DIV-on-github opened #6126 "Clicking cropping controls in Volume Rendering module triggers unrequested actions"
## Sub-issue (a):  undesirable enabling of cropping
### Description of issue
"in the "Crop" settings within the Display panel, clicking the Display ROI (eye) icon to display a ROI in the viewer automatically causes the Enable box to be ticked (enabling cropping according to that ROI) — despite the fact that there is a separate control provided.
[On the other hand, clicking the Display ROI (eye) ic

[2022-01-22 08:00] DIV-on-github commented on #5290
I have transferred the other comments to https://github.com/Slicer/Slicer/issues/6126

[2022-01-22 13:34] lassoan commented on #6126
I agree that conceptually it would be cleaner to not couple ROI enabling and visibility. However, we strive to "make simple things simple and complex things possible". This dictates that number of clicks should be minimized for the most commonly needed workflows. If unusual workflows are still feasible (with potentially a few extra clicks) then we achieved our goals.

Please describe your clinical

[2022-01-24 04:00] DIV-on-github commented on #6126
## Sub-issue (a): undesirable enabling of cropping

I agree that this makes sense.  So far it's 2:1 against changing....

That would be a reasonable approach.

The current behaviour doesn't make anything "impossible", it's more accurately described as a minor inconvenience/irritation (to me).

## Sub-issue (b): automated creation of ROI's
Could you please comment on this too?

[2022-01-24 13:20] lassoan commented on #6126
Creating a ROI automatically when user requests using a ROI is the best behaviour I can think of. The alternative options you have considered:
- (i) do nothing [because the user has manually selected "None", and we assume that they know what they're doing] -> users very often don't know what they are doing (just clicking around to experiment) or they may receive a scene where the ROI is set to Non

[2022-01-24 18:46] fbordignon opened #6128 "Better tables handling"
When adding (not so) big tables to Slicer, it takes a long time to show them. Example:

[code]

Go to the tables module and click the generated table to show it. Slicer takes more than 30 minutes to show this table, I don't know how long because after 30 min I've killed the process.

If a user saves this same table to a .csv on disk:

[code]
It saves it instantly on disk and loads in 3 seconds on

[2022-01-25 04:40] DIV-on-github commented on #6126
## Sub-issue (a): undesirable enabling of cropping
For completeness another idea I had was to contextually change the text label next to the 'eye' icon to read either
* Display & enable ROI
* Hide ROI

Personally I am not keen on that idea myself, but maybe it can spark some better suggestions.

## Sub-issue (b): automated creation of ROI's
Here I thought it might make sense to 'deactivate' (grey

[2022-01-25 13:40] pieper commented on #6126
Adding an explicit `New ROI` button seems reasonable to me.

[2022-01-25 13:41] lassoan commented on #6128
1-million rows is a very, very big for an editable table. That said, there is definitely lots of room for speed improvement.

The main performance bottleneck is the construction of qMRMLTableModel.

Quick workaround: See if you can easily activate some kind of batch update (with reset model, temporary signal blocking, etc.) when calling setMRMLTableNode. If there does not seem to be a quick way to

[2022-01-25 14:31] fbordignon commented on #6128
I agree that a user will not edit a table adding 1 million rows by hand, but it is a small table for a result of some kind of data analysis or algorithm output. My point is that a table this size is fairly small for a modern computer to handle and should not effectively break Slicer upon request for visualization. The user may click it unintentionally or just want to browse the first rows to check

[2022-01-25 19:32] fbordignon commented on #6128
Blocking signals on setMRMLTableNode lowers the time to show a table from 3 minutes to 8 seconds on a 100k lines single column table and from 12 minutes to 34 seconds on a 200k lines single column.
But it is still spending most of the time on https://github.com/Slicer/Slicer/blob/ae116729d4a69aa44927a3653bbbca36d5610993/Libs/MRML/Widgets/qMRMLTableModel.cxx#L386
If I comment this line, a table wit

[2022-01-25 19:52] lassoan commented on #6128
I'm afraid that this means that if we want near-real-time update then we must switch to QAbstractTableModel.

Response from Qt developers for questions about QStandardItemModel performance issue:

https://bugreports.qt.io/browse/QTBUG-31581

It is somewhat frustrating because we got so close. Maybe you can spend a little time with a debugger and see if you can somehow block the unnecessary updates

[2022-01-25 20:21] fbordignon commented on #6128
Right, I will try to fiddle a bit more with the setHeaderData.
If I understood correctly [this guy](https://www.qtcentre.org/threads/63038-rowCount()-is-calling-for-all-the-top-level-items?p=279789#post279789) said that it is possible to overwrite headerData() to return the desired data directly, without calling setHeaderData, or even overwriting it too. Maybe I will take a look into Qt implementa

[2022-01-25 21:44] lassoan commented on #6128
OK. I would just recommend to set a time limit for yourself with trying to fix the workaround, because the proper solution probably takes only a few hours to implement and the result is superior in all aspects.

[2022-01-25 21:49] lassoan commented on #6128
One complication with the workaround that it may only apply for the initial update (when you set the MRML node in the widget). If you change the table and update from MRML again then you may not avoid the very slow update: you cannot do a full update (you would lose selections, etc. in views) and you cannot block the signals (because then widgets would get out of sync). Using QAbstractTableModel s

[2022-01-25 23:22] #5014 closed

[2022-01-26 17:01] jamesobutler opened #6136 "Failed tests due to `time.clock()` removed method from Python"
`py_AddManyMarkupsFiducialTest`, `py_AnnotationsTestingAddManyFiducials`, `py_AnnotationsTestingAddManyROIs`, and `py_AnnotationsTestingAddManyRulers` are failing because deprecated method `time.clock()` was removed in Python 3.8. These tests began to fail when Slicer went from Python 3.6.7 to Python 3.9.10 in https://github.com/Slicer/Slicer/commit/34e48e8aef5dad19ec8a955d6f48a1940846e3f3.

https

[2022-01-26 17:08] jcfr commented on #6136
I have a local fix ready this

[code]

[2022-01-26 19:30] #6136 closed

[2022-01-27 11:41] cpinter commented on #5544
Pull request https://github.com/Slicer/Slicer/pull/6124 merged. Thank you so much @lassoan and @dgmato !

I'll build, do some testing, and close it if it looks good.

[2022-01-27 13:30] 1939938853 opened #6140 "SlicerIGSIO extenssion not show up in version 4.13.0 revision 30557 built 2022-01-26"
Hello,

SlicerIGSIO  extension not show up in version 4.13.0 revision 30557 built 2022-01-26. I manually installed the 30117-win-amd64-SlicerIGSIO-git8f61201-2021-07-19.zip and run Slicer got the following errors.

Thanks

DLL load failed while importing vtkSlicerMetafileImporterModuleLogicPython: The specified module could not be found.
DLL load failed while importing vtkSlicerSequenceIOModuleLog

[2022-01-27 13:50] lassoan commented on #5544
Thank you. Please also create a topic on discourse to announce the feature (in Support category, with the "feature" tag added) with a few screenshots or videos.

[2022-01-27 13:53] cpinter commented on #5544
@dgmato Can you please make the announcement once your build is finished and you can make some brief captures (gif style) about the main features? Thanks!

[2022-01-27 14:16] lassoan commented on #5544
If possible, please use mp4 (drag-and-drop the mp4 file into the discourse post), as it is higher quality than gif, yet smaller in size, and replay can be paused and you can seek to any point in the video. Thank you!

[2022-01-27 14:57] cpinter commented on #5544
Yes. What I said was "gif style" that was supposed to refer to length but it's good to clarify.

[2022-01-27 16:37] #6074 closed

[2022-01-27 19:28] jcfr opened #6141 "Rename env. variable used to communicate library path to"
Following the update of Python version from 3.6.7 to 3.9.10 integrated in Slicer (See [Slicer@34e48e8ae](https://github.com/Slicer/Slicer/commit/34e48e8aef5dad19ec8a955d6f48a1940846e3f3#diff-8a0835d08a9451302636735091ab1593fb967cd685a3e18f91ead8a908eb4b3d)), a new `_ADDITIONAL_PATH_ENVVARS` called `LibraryPaths` is now set in the Slicer environment.

This variable is likely too generic and should

[2022-01-28 02:04] smrolfe commented on #5912
@lassoan This issue is addressed in the commit: https://github.com/smrolfe/Slicer/commit/55f9f5f23ceb091349d277b9ef97ed25e9475caa

[2022-01-28 10:12] RafaelPalomar opened #6143 "Compilation errors on LZMA (Linux)"
I get compilation errors on LZMA on Gentoo Linux (gcc-11.2.0)

## Steps to reproduce

The building process stops with the following output:
[code]

This happens in systems where `libmd` (e.g.,`libmd-dev` Ubuntu/Debian) is installed. This seems to be a bug in [slicer/lib_libzma ](https://github.com/Slicer/lib_lzma) and upstream [nextgis-borsch/lib_lzma](https://github.com/nextgis-borsch/lib_lzma).

[2022-01-28 13:31] RafaelPalomar opened #6144 "Compilation error in LibArchive (GCC 11.2.0)"
I get a compilation error on LibArchive using gcc-11.2.0 in Gentoo Linux:

[code]

This can be solved by bumping libarchive from 3.4.3 (current) to 3.5.2.

## Steps to reproduce

Try to build Slicer

## Expected behavior

Slicer should build successfully

## Environment
- Slicer version: Slicer-4.13 (8f834f664afc6710cc261cdaa7eac6879a64e3c5)
- Operating system: Gentoo Linux

[2022-01-28 14:02] dgmato commented on #5544
@lassoan @cpinter I've just posted the announcement in discourse describing the new feature and including a short video I recorded.

[2022-01-28 14:18] cpinter commented on #5544
For the record the announcement: https://discourse.slicer.org/t/interactive-slice-intersections/21677

I tested the latest master and this feature works well.

The view grouping seems to do things I wouldn't expect in comparative layouts (like three over three), but it is not related to this work.
The unexpected thing is that if I link the views and set the other volume on the bottom row after swi

[2022-01-28 14:18] #5544 closed

[2022-01-28 17:43] #6140 closed

[2022-01-29 10:57] 1939938853 opened #6146 "Error when load mrb file for the latest Slicer v4.13.0-2022-01-28"
- Error: Loading D:/data/data.mrb - ERROR: In D:\D\P\Slicer-0\Libs\MRML\Core\vtkMRMLStorableNode.cxx, line 322
vtkMRMLLabelMapVolumeNode (00000269450C7230): vtkMRMLStorableNode::UpdateScene failed: Failed to read node LabelMapVolume (vtkMRMLLabelMapVolumeNode1) using storage node vtkMRMLVolumeArchetypeStorageNode2.

- Error: Loading D:/data/data.mrb - ERROR: In D:\D\P\Slicer-0\Libs\MRML\Core\vtkMR

[2022-01-29 14:58] lassoan commented on #6146
This may be normal if the labelmap was empty. Previous Slicer versions did not report this as errors. It is also possible that you only saved the scene and not the labelmap.

Can you share the data set? (zip all your files, upload it to somewhere, and post the link)

[2022-01-29 15:46] 1939938853 commented on #6146
Hello,

They are the data [here](https://pocus.cs.queensu.ca/#collection/5d9e6f2cd9e6a3be02d01293/folder/5d9e6f72d9e6a3be02d01294).

[2022-01-31 18:29] CsatiZoltan opened #6149 "No hardcoded directory paths and class names in Python scripted modules"
## Problem

During the development of my Python-based scriptable module, I am restricted by the naming conventions and the directory structure imposed by the superclasses (`ScriptedLoadableModule`, `ScriptedLoadableModuleWidget`, `ScriptedLoadableModuleLogic`). This is caused by the fact that the [icon path](https://github.com/Slicer/Slicer/blob/3edd84ddba681786be9e916124126fc858592598/Base/Python

[2022-02-01 17:22] lassoan commented on #6149
Thanks for bringing this up. As a general guideline, we follow conventions of the language and framework that we use or extend: we use C++ conventions for C++ classes, Qt conventions for Qt classes, VTK conventions for VTK classes, etc.

There are often conflicting conventions, for example when we implement a C++ class in Python (such as ScriptedLoadable* classes) or when we use VTK in a Qt class.

[2022-02-01 18:45] CsatiZoltan commented on #6149
To me, *resources* (or *Resources*), and within it *ui* and *icons* would be satisfying. In fact, one could search for case-insensitive folder names.

This makes sense, as you demonstrated above with `QIcon` and `loadUI`.

I agree that scientists who are neither paid for such software architecture development nor profit from them in form of publications should not bother about it. When I brought u

[2022-02-01 19:36] lassoan commented on #6149
Thanks for offering the help with stubs generation.

VTK uses its own Python wrapper and already offers some stub generation (see discussion here: https://discourse.vtk.org/t/auto-compeletion-in-vs-code/7728/2), but we would need to test how it all works in Slicer's Python environment (where the stubs are generated, how they could be generated for all VTK-based classes in Slicer, etc.).

I don't k

[2022-02-02 01:45] jamesobutler commented on #4891
@lassoan Should this issue be considered closed by https://github.com/Slicer/Slicer/commit/d36e96bd544db2489d624c85727194cde6da7484? #6111 was created to document further improvements to the color bar.

[2022-02-02 02:33] lassoan commented on #4891
Yes, this is now resolved. Color legend is displayed using displayable manager. It uses a separate layer, so it is consistently displayed above markups, regardless in what order they are added to the scene.

[2022-02-02 02:33] #4891 closed

[2022-02-02 22:43] CsatiZoltan commented on #6149
By using the Slicer application as Python executable, do you mean that we launch `/bin/PythonSlicer`? If so, that is what I did. I pointed PyCharm to that executable, then it automatically recognized all the site-packages.
![SlicerPython](https://user-images.githubusercontent.com/12742890/152249275-33fdeef2-37fd-46f4-9053-82416ed8ca26.png)

Then I would open a PR for that, as it seems to be easy t

[2022-02-04 00:34] ebrahimebrahim commented on #6099
Thanks @Connor-Bowley for the comments pointing me in the right direction!

I didn't have a proper understanding of the reference counting system for VTK objects. I understand this better now, but I still don't see _why_ `vtkMRMLScene::CreateNodeByClass` needs to be followed by `UnRegister`. Why would it create a node with an incorrect reference count? Is this really the intended behavior?

1. If

[2022-02-04 01:25] jamesobutler commented on #6099
The related Slicer issue about trying to get away from having to do UnRegister is https://github.com/Slicer/Slicer/issues/4205#issuecomment-604163727.

A past Slicer forum posts about the script repository having memory leaks. https://discourse.slicer.org/t/link-slices-views-by-default/1934/11?u=jamesobutler

There is documentation about the python memory management with factory methods, but I’m n

[2022-02-04 13:21] ebrahimebrahim commented on #6099
Thank you for finding those links @jamesobutler

My question about the reason for incorrect reference count is answered by the wiki page:

Closing because this issue can defer to #4205. It will be fixed one way or another when #4205 is resolved. I will add a comment over there about transferring the memory management documentation to readthedocs.

[2022-02-04 13:21] #6099 closed

[2022-02-04 13:37] ebrahimebrahim commented on #4205
I'd like to add that [this memory management information](https://www.slicer.org/wiki/Documentation/Nightly/Developers/Tutorials/MemoryManagement#Python_scripts_and_scripted_modules) from the wiki never made it to readthedocs. While factory method support is added to the python side, it might be good to transfer an updated version of the information from that page into readthedocs.

Less related,

[2022-02-04 13:52] lassoan commented on #4205
@ebrahimebrahim it would be great if you could copy the content to https://github.com/Slicer/Slicer/tree/master/Docs/developer_guide. Probably a new memory_management.md file could be added. Once that's done I would update the wiki page to redirect to the readthedocs page. There are MediaWiki to Markdown converters, but they tend make small mistakes, so for short pages like this it is probably not

[2022-02-04 14:00] Connor-Bowley commented on #4205
@lassoan Do we know exactly what the affects will be in the `CreateDefaultStorageNode` case, as it is a virtual function? I am assuming that the `VTK_NEWINSTANCE` will not apply to all derived classes if it is added to the base class, and that it will need to be applied to each derived class as well. Do you know if this is correct?

[2022-02-04 14:02] ebrahimebrahim commented on #4205
@Connor-Bowley Good point, I guess it's not `vtkMRMLStorableNode::CreateDefaultStorageNode` but the derived classes implementing it that need to indicate in their documentation whether the caller owns the resource

[2022-02-04 14:07] Connor-Bowley commented on #4205
When we add `VTK_NEWINSTANCE` to `vtkMRMLStorableNode::CreateDefaultStorageNode` we should require (at least by saying so, even if not in an automated manner) that all derived classes do this. Otherwise generic Python code can never be written that calls that function. The Python code would need to handle both cases without any idea which case it was in. If we say a derived class that doesn't have

[2022-02-04 16:50] che85 commented on #5944
Sadly, this doesn't work for me.

I am trying to compile on macOS Monterey Version 12.2.

OpenSSL (https://github.com/openssl/openssl/tree/OpenSSL_1_1_0-stable) built successfully local.

[code]

I compiled with the following flags:

[code]

And getting the following errors:

[code]

ITK itself within the Slicer build tree compiles without problems.

[2022-02-04 17:39] smrolfe commented on #5912
@lassoan @jamesobutler Checking in on the status of this commit, thanks!

[2022-02-04 18:09] che85 commented on #5944
I believe the error appeared when building vtkITKPython so I checked out an older version prior to the Python version being updated and it compiled successfully.

[2022-02-04 22:51] Sunderlandkyl commented on #5061
@lassoan How does this interact with the SliceProjection property? Should the control point be visibile regardless of SliceProjection?

[2022-02-05 00:38] brandus1 commented on #5944
I forgot to mention that I am compiled with `-DCMAKE_OSX_DEPLOYMENT_TARGET:STRING=10.15`, give it a try, I have been using it for a lot now

[2022-02-05 14:53] swirlsky opened #6157 "Slicer logo fix"
I think that the current Slicer logo:
https://www.slicer.org/assets/img/3D-Slicer-Mark.svg

has a little glitch at one of its corners:
![slicer](https://user-images.githubusercontent.com/27681171/152646841-4d310492-bfa2-45bb-a00d-5f9f67062454.png)

So I fixed it, here it is:
https://filebin.net/ayp6wvsd9ty5sppz

Please decide which one you like better.

[2022-02-05 15:19] adamrankin opened #6158 "Update vtkpng in Slicer's vtk"
I am trying to update SlicerOpenCV to newer OpenCV, but I'm getting libpng symbol conflicts. Could vtkpng in VTK be updated?

https://gitlab.kitware.com/vtk/vtk/-/commit/c20de1471bb85791da10e87abd1ce6d9ec23d9c9

Adam

[2022-02-05 16:11] jcfr commented on #6158
That would make sense. Do you confirm that the latest VTK need to be updated ? And not only the curent VTK version associated with Slicer master.

For reference, here is the PR updating VTK in Slicer. See https://github.com/Slicer/Slicer/pull/5978

[2022-02-05 17:02] adamrankin commented on #6158
Ah yes, that PR would fix this issue. Thanks!

[2022-02-05 17:02] #6158 closed

[2022-02-05 17:33] lassoan opened #6159 "Introduce "focused" node concept"
## Is your feature request related to a problem? Please describe.

Current unmet needs:
- Cross-reference nodes (and components) between module GUI in the left panel and viewers. For example, if the user clicks on a model in the data tree then it is hard to know which node in the scene it corresponds to.
- Prevent accidental moving of move markup control points. When the users want to rotate the 3

[2022-02-05 17:36] lassoan commented on #5061
I think the most intuitive behavior would be to show the center when the corners are visible. This is already implemented and available if the user enables "translation" interaction mode.

The problem is that translation interaction mode also displays arrows, which are useful, but they also makes the view quite cluttered (especially when they are large relative to the ROI size; or when there are m

[2022-02-06 17:28] lassoan commented on #4976
Another complaint here:

https://discourse.slicer.org/t/extensions-for-4-13-r30577-not-available-fro-windows/21819/4

This continues to be a source of user confusion/frustration in Europe and Asia.

[2022-02-06 17:39] lassoan commented on #4976
Extension builds on Slicer-4.13 seem to finish at about 7am EST. We could add a bit of margin and **pause any updates of the download site between 10pm and 9am EST**. That would ensure that users will not see incomplete releases.

@jcfr now that we can make changes to the download server more easily, could you look into making this change?

[2022-02-06 19:36] #5427 closed

[2022-02-06 20:34] adamrankin commented on #6158
With VTK branch above:
![image](https://user-images.githubusercontent.com/3210398/152700276-6276f108-cb9f-4e73-9b1d-213afaca964c.png)

[2022-02-06 20:42] jcfr commented on #6158
Thanks for testing the branch.

Does it mean you were able to build the SlicerOpenCV extension?

[2022-02-06 20:54] adamrankin commented on #6158
Yes. That screenshot is my built slicer, with the package installed via extension manager from packaged .zip.

[2022-02-06 21:31] jcfr commented on #6158
Great. And do not hesitate to "play" with the build using volume rendering, markups, etc ... and report any issues.

After the build of the SlicerVirtualReality extension is fixed. I will go ahead and merge.

[2022-02-06 22:05] lassoan commented on #6157
Thanks for taking the time to investigate this.

I cannot reproduce the appearance that you show in the image above using any SVG renderer. I've tried Inkscape, Adobe Illustrator, Chrome, Firefox, Gimp, [rapidtables](https://www.rapidtables.com/web/tools/svg-viewer-editor.html), [svgviewer.dev](https://www.svgviewer.dev/), [svgeditoronline.com](http://www.svgeditoronline.com/) - they all render lo

[2022-02-06 22:26] swirlsky commented on #6157
Hmm.. strange. the "ugly corner" I see in gimp, inkscape and also in brave web browser on ubuntu, as well as in opera on android. Can it be that it's platform-dependent? Under windows and mac I can't try. Do you use one of those? Right now I'm writing this on my android phone and this is what I see if I zoom in on the logo on the slicer website:
![Screenshot_20220206-232617](https://user-images.gi

[2022-02-07 00:12] pieper commented on #6157
It must be something about the version on the slicer.org website.  I can reproduce the ugly corner effect on windows, mac, and linux with chrome and/or firefox and/or edge.  But not with the one in `./Docs/_static/images/3D-Slicer-Mark.svg`.

[2022-02-07 01:27] lassoan commented on #6157
@pieper your have solved the mystery!

@jcfr do you know where that glitchy https://www.slicer.org/assets/img/3D-Slicer-Mark.svg file comes from?

[2022-02-07 04:19] jcfr opened #6161 "Organize Slicer logos material on GitHub and create webpage for describing them"
## Is your feature request related to a problem? Please describe.

Since July 2020, the icons originally designed by @SteveJordanKW are organized in this public [google folder](https://drive.google.com/drive/u/0/folders/1dh7O6PNdh5EkePtwyjFREfjUdsaxrrai).

It includes the following files:

[code]

The different iterations and associated discussions are available in the following Discourse topic:
h

[2022-02-07 04:24] jcfr commented on #6157
Looking at the history [here](https://github.com/Slicer/slicer.org/commits/main/assets/img/3D-Slicer-Mark.svg)

The glitch seems to have been introduced when by the commit [bc48de2b8](https://github.com/Slicer/slicer.org/commit/bc48de2b885e9bb4a725a24ab44b86273014f0ea) `ENH: Use bolded outline Slicer logo`

| commit [4d84e36ff7](https://github.com/Slicer/slicer.org/commit/4d84e36ff723bbe007e902ca4

[2022-02-07 04:27] lassoan commented on #6157
I've tried it and a few similar options and they did not make any perceivable difference.

[2022-02-07 13:39] lassoan commented on #6161
I feel maintaining a separate repository for this quite heavyweight. It is not that special content. Slicer branding info was maintained on the Slicer wiki before and I don't remember having any issues with that.

What do you think about movinh the branding page (along with media files) to Slicer readthedocs or the Slicer Github wiki?

Creating a Slicer/Slicer-media-assets repository could be just

[2022-02-07 18:01] jcfr opened #6163 "SimpleITK build error"
Mentioning SimpleITK windows build issues, I just tested the very latest Slicer with a custom app (https://github.com/Slicer/Slicer/commit/015fa17a5715863052cda5dae2a14098589b01ae) and I get the following error:

[code]
In `SimpleITK_install_step_error.txt`:
[code]
Could this be related? Any suggestions? Thank you!

_Originally posted by @cpinter in https://github.com/Slicer/Slicer/issues/5954#iss

[2022-02-07 18:02] jcfr commented on #6163
When Slicer was recently upgraded to a newer Python version in https://github.com/Slicer/Slicer/commit/34e48e8aef5dad19ec8a955d6f48a1940846e3f3, it required follow-up commit https://github.com/Slicer/Slicer/commit/a1c44fab014a6be93e5917fe63ffee3a98dba597 to fix a SimpleITK build issue. Is your custom app including this bug fix?

Using current Slicer `master` I don't believe I have seen SimpleITK b

[2022-02-07 18:02] jcfr commented on #6163
Yes, as I wrote the custom app is on the very latest Slicer, hash linked in my previous comment.

I did a completely clean build.

_Originally posted by @cpinter in https://github.com/Slicer/Slicer/issues/5954#issuecomment-1028151718_

[2022-02-07 18:02] jcfr commented on #6163
It does look like a non-clean build issue where SimpleITK wasn't built cleanly. As I remember potentially that exact same issue when building as of https://github.com/Slicer/Slicer/commit/34e48e8aef5dad19ec8a955d6f48a1940846e3f3. However, if you say it was a clean build, then I'm not sure. I haven't seen such issues on my own builds with current latest.

_Originally posted by @jamesobutler in http

[2022-02-07 22:19] jcfr opened #6164 "Add "Testing" setion to "Developer Guide"
## Is your feature request related to a problem? Please describe.

[A clear and concise description of what the problem is. Ex. I'm always frustrated when...]

## Describe the solution you'd like

[A clear and concise description of what you want to happen.]

## Describe alternatives you've considered

[A clear and concise description of any alternative solutions or features you've considered.]

#

[2022-02-08 09:12] RafaelPalomar opened #6166 "Updating GNU/Linux build documentation"
## Is your feature request related to a problem? Please describe.

I think the GNU/Linux building documentation ([https://slicer.readthedocs.io/en/latest/developer_guide/build_instructions/linux.html](https://slicer.readthedocs.io/en/latest/developer_guide/build_instructions/linux.html)) is outdated (focused in old distributions).

## Describe the solution you'd like

The documentation should be r

[2022-02-08 09:13] RafaelPalomar commented on #6166
I can be assigned to this

[2022-02-08 09:14] RafaelPalomar opened #6167 "Qt Designer crashes when it is launched by the Slicer launcher (./Slicer --designer)"
Qt Designer crashes when invoked through Slicer with the following output:

[code]

Here the coredump backtrace:

[code]

## Steps to reproduce

`./Slicer --designer`

## Expected behavior

Qt Designer should open without problems

## Environment
- Slicer version: Slicer-4.13.0-2022-02-08
- Operating system:  Linux (Gentoo Linux)
- Qt Version: 5.15.2-r14 (Gentoo)

[2022-02-08 17:49] fbordignon opened #6168 "vtkSegment default terminology not reading Settings"
vtkSegment sets a hardcoded tag in its constructor that should be read from QSettings:

https://github.com/Slicer/Slicer/blob/7610ddea1b40b569641c77964976718be045dde7/Libs/vtkSegmentationCore/vtkSegment.cxx#L69

I am not sure of the best way to accomplish this. I would try to add a class member to hold the terminology setting and update it when settings are updated or first read.

[2022-02-08 18:15] lassoan commented on #6168
The default terminology term for new segments is already set from application settings. This initial value gets used only if you don't use the GUI.

[2022-02-08 19:08] fbordignon commented on #6168
Hey, Andras. Thank you for your response. Ok, so maybe there is a case not treated. I reached vtkSegment starting from
[`qSlicerSubjectHierarchySegmentationsPlugin::convertLabelmapToSegmentation()`](https://github.com/Slicer/Slicer/blob/7610ddea1b40b569641c77964976718be045dde7/Modules/Loadable/Segmentations/SubjectHierarchyPlugins/qSlicerSubjectHierarchySegmentationsPlugin.cxx#L1098)

[2022-02-09 08:52] nnzzll opened #6170 "Show3DButton automatically unchecked after calling updateSegmentBinaryLabelmapFromArray"
After calling the slicer.util.updateSegmentBinaryLabelmapFromArray() function, the 3D viewer won't display the closed surface, while the visibility properties of vtkMRMLSegmentationDisplayNode are all set to True. And the `Show 3D` Button in `Segment Editor` is unchecked automatically. Only when it was checked , the 3D viewer shows the surface again.

## Steps to reproduce
1. Create any Reference

[2022-02-09 09:44] nnzzll commented on #6170
Before calling the function, the Segment has the `'Closed surface'` Representation.
However, `updateSegmentBinaryLabelmapFromArray()`  calls the `ImportLabelmapToSegmentationNode()` function and the later one calls the `AddRepresentation()` method for each segment which only add the `'Binary labelmap'` Representation.
So the 3D viewer won't display the surface because there is no `Closed surface`

[2022-02-09 09:44] #6170 closed

[2022-02-09 12:26] RafaelPalomar commented on #6143
@jcfr, what do you think about this?

[2022-02-09 13:41] fbordignon commented on #6168
Thanks for the tips. I was looking into it and some other conversion functions such as https://github.com/Slicer/Slicer/blob/7610ddea1b40b569641c77964976718be045dde7/Modules/Loadable/Segmentations/SubjectHierarchyPlugins/qSlicerSubjectHierarchySegmentationsPlugin.cxx#L1134
potentially have the same problem. So I will need to implement helper functions to apply the terminology.

I was trying to use

[2022-02-09 14:32] cpinter commented on #6168
Are you writing your code in Python or C++? From what kind of class do you want to access these objects?

[2022-02-09 23:40] jamesobutler commented on #5912
@lassoan Are there additional things needed here for this issue? Or has https://github.com/Slicer/Slicer/commit/c8daef472497776cb9db67487c2664c384407d31 closed this issue?

[2022-02-10 05:44] #6167 closed

[2022-02-10 06:00] lassoan commented on #5912
Good catch. Yes, this can be closed now.

[2022-02-10 06:00] #5912 closed

[2022-02-10 09:23] cpinter commented on #6168
This is an example for getting the Volumes logic from C++. Just replace the class name and string and it should work:
[code]

This will be something to fix in CMake. Need to add these two things:
https://github.com/Slicer/Slicer/blob/master/Modules/Loadable/Segmentations/CMakeLists.txt#L22
https://github.com/Slicer/Slicer/blob/master/Modules/Loadable/Segmentations/CMakeLists.txt#L67 (replace `${MO

[2022-02-10 15:32] gatangen opened #6174 "Unable to start Designer application with Slicer launcher"
Trying to start Designer to edit .ui files in Slicer build. The Designer application crashes when launched from terminal.

## Steps to reproduce

or

=> The Designer application crashes at startup

When starting Designer from Slicer GUI menu: Edit - Application Settings - Developer - Qt Designer - launch,
the Designer starts ok, but without the custom CTK/Slicer MRML Widgets.

When running Slicer

[2022-02-10 15:41] jamesobutler commented on #6174
Hi @gatangen this may have been fixed just recently in https://github.com/Slicer/Slicer/commit/9766f4f1f8fd85ed4d33e8f7ea39235b0334502d which was solving a Designer crash at startup. This commit is currently the latest commit on the Slicer `master` branch but since it was merged after the nightly factory Slicer Preview build was started the fix is not available in Today's preview. It will be avail

[2022-02-10 15:53] pieper opened #6175 "pip installed napari in Slicer works on linux and windows, but not mac"
I was surprised that this worked at all on windows and linux so I tried on mac.

## Steps to reproduce

1. Download a recent version of Slicer with python 3.9
2. Load MRHead from sample data
2. pip_install("napari[all]")
3. import napari
4. viewer = napari.view_image(array("MRHead")[64])

## Expected behavior

Should see napari viewer window and Slicer coexisting and responding to events.  Instead

[2022-02-10 15:56] lassoan commented on #6174
@gatangen Thanks for the detailed, high-quality test report. Please test it tomorrow and report back here.

[2022-02-10 15:57] lassoan commented on #6174
Most likely the same issue as https://github.com/Slicer/Slicer/issues/6174

[2022-02-10 21:45] jcfr opened #6176 "Improve SlicerExecutionModel documentaton"
## Is your feature request related to a problem? Please describe.

Documentation associated with the SlicerExecutionModel is available on the Slicer wiki at https://www.slicer.org/wiki/Documentation/Nightly/Developers/SlicerExecutionModel

There are few aspects to document:
* For spec associated with the XML format
* How to implement C++ based CLIs independent from a specific application
* The int

[2022-02-11 05:32] lassoan opened #6177 "Some strings cannot be translated to other languages"
Not all strings that are visible on the GUI show up in the list of translatable strings. Some strings show up but they do not get translated.

- [x] Module names that are visible on the GUI (i.e., module title) are not translated. For example: Volumes, Models, Markups (although they are available in the module widget) - see https://github.com/Slicer/Slicer/issues/6826
- [x] Python scripted modules

[2022-02-11 07:25] RafaelPalomar commented on #6167
I've tried slicer/slicer@9766f4f1f8fd85ed4d33e8f7ea39235b0334502d and get similar results. Here is the backtrace, which is slightly different:

[code]

[2022-02-11 18:07] lassoan opened #6180 "Improve Export to file for multiple nodes"
- Enable "Expor to file..." feature for clicking on the scene: it is just a folder the same way as all other folders
- Add an option to recreate folder structure: it would be an amazingly effective way to save a complex hierarchy of nodes
- Allow specifying non-existing subfolder(s) as Directory: it makes it much simpler to save into a new subfolder. If we already have a temporary folder but want

[2022-02-11 18:44] Connor-Bowley opened #6181 "Segfault when running SegmentEditor smoothing with --no-main-window"
Slicer is segfaulting when running the Segment Editor smoothing effect through a script with the flag `--no-main-window`. The script is successfully running when `--no-main-window` is not present.

Interestingly, the same script when run using SlicerSALT (SlicerSALT-3.0.0-2022-02-07-linux-amd64) runs just fine.

## Script used - TestWindowlessSmoothing.py

[code]

Run as
[code]

## Expected behavi

[2022-02-11 18:48] Connor-Bowley commented on #6181
Another point of interest: if the script is switched from doing the smoothing effect to doing the margin effect, there is no segfault and it runs correctly.

[2022-02-11 19:05] ebrahimebrahim commented on #6180
With this option enabled, how would the following situation be treated (where a storable node has children)?

![image](https://user-images.githubusercontent.com/1879759/153653221-770de539-41eb-49cb-9185-81b69ac1e785.png)

Suggestion for saved directory hierarchy:

- `New Folder/`
  - `"MRHead Copy.nrrd"`
  - `MRHead.nrrd`
  - `MRHead_files/`
    - `F.json`
    - `L.json`

[2022-02-11 19:08] ebrahimebrahim commented on #6180
Making sure I understand correctly: The idea is to treat the scene as a folder and export its children. We don't want to export the _scene_ itself  (i.e. the `.mrml` file), correct?

[2022-02-11 19:11] lassoan commented on #6180
Correct, we would not export the .mrml file (just all the nodes that show up in the subject hierarchy).

[2022-02-11 19:13] lassoan commented on #6180
Everything would be saved as now. The storable node would be saved as `NodeName.ext` and the children would be saved as `NodeName/SomeOtherNodeName.ext`.

[2022-02-11 19:42] lassoan opened #6182 "Interactive slice intersections are rendered incorrectly when slices are zoomed in"
## Steps to reproduce

- Load a volume
- Enable interactive slice intersections
- Zoom in and pan down the red slice view so that the intersection with the green slice gets out of view
- Use Shift+mousemove in the green slice view
- ERROR: the yellow slice intersection is not a straight line anymore but two line segments point towards the middle of the slice view.

https://user-images.githubuserco

[2022-02-11 19:43] lassoan commented on #6182
@cpinter could you ask @dgmato to have a look at this?

[2022-02-11 19:46] dgmato commented on #6182
Interesting. I will check it out.

[2022-02-11 19:47] lassoan commented on #6177
Yes, these issues still persist. They are due to that in current Slicer source code some dynamically created strings are not marked as translatable and we would need to implement collection of translatable strings from extensions.

[2022-02-11 22:16] lassoan commented on #6181
Segment editor effects are not split into GUI and logic class, so any effect may require a main window.

Years ago we tried supporting the application with and without a main window, but it would have required so much more testing that we had to give up on it. Our current plan is _not_ to better support the application without a main window, but to split out libraries, such as MRML, vtkITK, Segmen

[2022-02-12 01:51] ebrahimebrahim commented on #6180
I think it makes sense to make the change at the level of saving logic, not just export. So I would make the change in `qSlicerCoreIOManager::saveNodes`. This is because the inconsistent behavior that you describe applies to saving as well.

Let me know if you think this makes sense or not

[2022-02-12 03:26] ebrahimebrahim commented on #6180
important question: should this setting be enabled by default or not?

[2022-02-12 05:12] lassoan commented on #6180
I don't see a risk if it handled at lower level, as long as it can be guaranteed that the necessary directories are always created.

Yes, I think it makes sense to enable this by default.

This feature is also useful because creating subject hierarchy folders from file system folders is already available (right-click on "Scene" in subject hierarchy and choose "Create hierarchy from loaded director

[2022-02-12 18:04] mauigna06 opened #6183 "Extra undoState saved when redo is pressed on SegmentEditor"
Redo adds an extra undoState breaking up expected behaviour (and our customApp segmentEditor logic)

## Steps to reproduce

Use a example CT on the segment editor module. Select Paint effect. Paint 3 separed lines (or brush strokes) on axial view, Press undo button (there will be 2 lines on the axial view). Paint another separed line (now there are 3 lines again) because of this action an extra un

[2022-02-14 19:43] jcfr opened #6189 "Describe modules on readthedocs"
## Is your feature request related to a problem? Please describe.

The different type of modules are not described in the Developer guide, and  prospective developer have to gather information from the unmaintained wiki pages:

* https://www.slicer.org/wiki/Documentation/Nightly/Developers/Modules
* https://www.slicer.org/wiki/Documentation/Nightly/Developers/Tutorials/Module

## Describe the solu

[2022-02-14 20:59] #6183 closed

[2022-02-14 20:59] lassoan commented on #6183
Thank you for the clear error report, I've pushed a fix.

[2022-02-14 22:35] #5558 closed

[2022-02-15 09:37] mauigna06 opened #6190 "ENH: Create new rotation handle for around camera-direction rotation"
## Is your feature request related to a problem? Please describe.

It is really useful for manual registration in surgical planning (like seen on this [video](https://www.youtube.com/watch?v=7RMermYOOYY&t=98s)) to be able to rotate an object around cameraViewDirection.

## Describe the solution you'd like

So a circle handle that is inside the cameraCiewPlane should be added to the 3DView's intera

[2022-02-15 15:29] jcfr commented on #6181
In the long run, the ability to use buidling blocks like `mrml`, `vtkSegmentationCore`, ... is very sensible.

This also makes sense when containerization or deployment on cloud infrastructure is the target.

In the mean time, being able to "execute" editor effect by setting the parameter node and calling `onApply()` is sensible to streamline testing and also support integration in extension like

[2022-02-15 17:59] jcfr opened #6192 "Simplify vtksys integration associated with recent VTK"
This makes sense. The change you integrated is more elegant way and easier to maintain. For sake of consistency, I suggest to revisit the approach implemented in b3b16b31d144e578f336367e880e06961a0efa06 to deal with a similar change associated with `vtksys`

_Originally posted by @jcfr in https://github.com/Slicer/Slicer/pull/5954#r798066652_

[2022-02-16 12:59] lassoan commented on #6163
"The specified procedure could not be found" error means that the searched DLL was found by name but it is the wrong version. So, I would double-check if there is anything related to SimpleITK dependencies in your path. For example, "d:\OneDrive\Utils\dcmtk-3.6.5-win64-dynamic\bin" can cause this (if your dcmtk build is incomplete).

Sometimes you can find more information about DLL leading errors

[2022-02-16 13:19] fbordignon commented on #6163
Try inspecting _SimpleITK.pyd to the dependency walker and adding all the paths from LibraryPaths to its search path as well (Options->Configure Module Seach Order->Add Directory). Then, highlight all found dlls on the Module lower panel and press F9 to show full paths. Check if they are all from the build path. I've noticed a DCMTK on a foreign path `d:\OneDrive\Utils\dcmtk-3.6.5-win64-dynamic\bi

[2022-02-16 14:39] ebrahimebrahim opened #6194 "Building with ITK python wrapping does not work"
Superbuild fails when enabling ITK python wrapping.

I am just transferring my comment from [here](https://github.com/Slicer/Slicer/pull/5954#issuecomment-1029507877) to an issue.

## Steps to reproduce

- Edit cmake to enable the variable `Slicer_BUILD_ITKPython`
- Start the superbuild process

[code]

## Environment
- Slicer version: Slicer-4.13-2022-02-17 probably, after the merge of #5954
- Op

[2022-02-16 14:54] jcfr commented on #6194
The error is associated with the `VtkGlue` module.

After having an initial look, it turns out there are two implementation:
* [Modules/Bridge/VtkGlue](https://github.com/InsightSoftwareConsortium/ITK/tree/master/Modules/Bridge/VtkGlue): within the ITK source tree
* [InsightSoftwareConsortium/ITKVtkGlue](https://github.com/InsightSoftwareConsortium/ITKVtkGlue): an independent ITK remote module

Co

[2022-02-16 15:15] cpinter commented on #6163
Wow @lassoan amazing catch with the old DCMTK in the path! I renamed the folder to try and the configure step `cmake -P E:/t3/tR/SimpleITK_install_step.cmake` suggested by @jcfr succeeded! Doing the superbuild now. Thanks a lot!

[2022-02-16 16:11] jcfr commented on #6098
Following discussion with @sjh26, this seems to lead to a segfault.

[2022-02-16 16:14] jcfr commented on #6098
Regression was likely introduced in this set of commits: https://github.com/Slicer/Slicer/compare/c866c3959bd5f02746d0c6cc92ec902e3e777a27...fc2135947480bd1704093ed6d876000ed674e629

[2022-02-16 16:18] jcfr commented on #6098
Interestingly, @sjh26 and @Connor-Bowley observed the following:

[code]

does not lead to the warnings.

[2022-02-16 16:19] fbordignon commented on #6163
lol andras beat me to it. Good chance it is solved then. great!

[2022-02-16 16:25] lassoan commented on #6163
Additional extra paths should not have caused problems if your DCMTK build was available and complete in a path that is listed before. Maybe your DCMTK build was incomplete or DCMTK did something fragile (such as searching the path for additional DLLs that were not found in your DCMTK folder but they were found in the additional folder). It might still make sense to check with procmon what happene

[2022-02-16 16:26] lassoan commented on #6098
Can you get a stack trace of the crash or the warnings? It would directly tell what to change and where.

[2022-02-16 16:36] jcfr commented on #6098
Here is the backtrace afer adding a breakpoint to the line leading to the first warning:

[code]

[2022-02-17 01:47] lassoan commented on #5884
No response was received from the user, assuming the problem got resolved. Closing this.